In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [141]:
df=sns.get_dataset_names()
df

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [142]:
df=sns.load_dataset("anagrams")
df.head()

   subidr    attnr  num1  num2  num3
0       1  divided     2   4.0     7
1       2  divided     3   4.0     5
2       3  divided     3   5.0     6
3       4  divided     5   7.0     5
4       5  divided     4   5.0     8

In [143]:
df1=sns.load_dataset("anscombe")
df1.head()

  dataset     x     y
0       I  10.0  8.04
1       I   8.0  6.95
2       I  13.0  7.58
3       I   9.0  8.81
4       I  11.0  8.33

In [144]:
df2=sns.load_dataset("attention")
df2.head()

   Unnamed: 0  subject attention  solutions  score
0           0        1   divided          1    2.0
1           1        2   divided          1    3.0
2           2        3   divided          1    3.0
3           3        4   divided          1    5.0
4           4        5   divided          1    4.0

In [145]:
df3=sns.load_dataset("brain_networks")
df3.head()

,network,1,1.1,2,2.1,3,3.1,4,4.1,5,...,16.5,16.6,16.7,17,17.1,17.2,17.3,17.4,17.5,17.6
0,node,1,1,1,1,1,1,1,1,1,...,3,4,4,1,1,2,2,3,3,4
1,hemi,lh,rh,lh,rh,lh,rh,lh,rh,lh,...,rh,lh,rh,lh,rh,lh,rh,lh,rh,lh
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,56.05574417114258,92.03103637695312,3.391575574874878,38.65968322753906,26.203819274902344,-49.71556854248047,47.4610366821289,26.746612548828125,-35.898860931396484,...,0.6079040169715881,-70.27054595947266,77.36577606201172,-21.73455047607422,1.0282527208328247,7.7917842864990225,68.90372467041016,-10.520872116088867,120.49046325683594,-39.686431884765625
4,1,55.5472526550293,43.6900749206543,-65.49598693847656,-13.974522590637207,-28.27496337890625,-39.05012893676758,-1.2106596231460571,-19.012897491455078,19.568010330200195,...,57.49507141113281,-76.39321899414062,127.26136016845705,-13.035799026489258,46.3818244934082,-15.752449989318848,31.00033187866211,-39.607521057128906,24.76401138305664,-36.7710075378418

In [146]:
df4=sns.load_dataset("car_crashes")
df4.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [147]:
df6=sns.load_dataset("dots")
df6.head()

  align choice  time  coherence  firing_rate
0  dots     T1   -80        0.0    33.189967
1  dots     T1   -80        3.2    31.691726
2  dots     T1   -80        6.4    34.279840
3  dots     T1   -80       12.8    32.631874
4  dots     T1   -80       25.6    35.060487

In [148]:
df7=sns.load_dataset("exercise")
df7.head()

   Unnamed: 0  id     diet  pulse    time  kind
0           0   1  low fat     85   1 min  rest
1           1   1  low fat     85  15 min  rest
2           2   1  low fat     88  30 min  rest
3           3   2  low fat     90   1 min  rest
4           4   2  low fat     92  15 min  rest

In [149]:
df8=sns.load_dataset("flights")
df8.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [150]:
df9=sns.load_dataset("fmri")
df9.head()

  subject  timepoint event    region    signal
0     s13         18  stim  parietal -0.017552
1      s5         14  stim  parietal -0.080883
2     s12         18  stim  parietal -0.081033
3     s11         18  stim  parietal -0.046134
4     s10         18  stim  parietal -0.037970

In [151]:
df10=sns.load_dataset("gammas")
df10.head()

   timepoint  ROI  subject  BOLD signal
0        0.0  IPS        0     0.513433
1        0.0  IPS        1    -0.414368
2        0.0  IPS        2     0.214695
3        0.0  IPS        3     0.814809
4        0.0  IPS        4    -0.894992

In [152]:
df11=sns.load_dataset("geyser")
df11.head()

   duration  waiting   kind
0     3.600       79   long
1     1.800       54  short
2     3.333       74   long
3     2.283       62  short
4     4.533       85   long

In [153]:
df5=sns.load_dataset("diamonds")
df5.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [154]:
df5.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [155]:
PANDAS SERİSİ OLUŞTURMA

SyntaxError: invalid syntax (Temp/ipykernel_12852/2596126701.py, line 1)

In [ ]:
np.random.seed(42)
df3 = pd.DataFrame(  np.random.randn(5,4), 
                   index = ['A', 'B', 'C', 'D', 'E'], 
                   columns = 'W X Y Z'.split()          )
df3

In [ ]:
np.array([1,2,3,4,5])

In [ ]:
serr= pd.Series([11,1223,34])
serr

In [ ]:
data=["Ankara", "İstanbul", "İzmir"]
index=["A", "B", "C"]
pd.Series(data,index)

INDEX ADINI DEĞİŞTİRME

In [156]:
df3

,network,1,1.1,2,2.1,3,3.1,4,4.1,5,...,16.5,16.6,16.7,17,17.1,17.2,17.3,17.4,17.5,17.6
0,node,1,1,1,1,1,1,1,1,1,...,3,4,4,1,1,2,2,3,3,4
1,hemi,lh,rh,lh,rh,lh,rh,lh,rh,lh,...,rh,lh,rh,lh,rh,lh,rh,lh,rh,lh
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,56.05574417114258,92.03103637695312,3.391575574874878,38.65968322753906,26.203819274902344,-49.71556854248047,47.4610366821289,26.746612548828125,-35.898860931396484,...,0.6079040169715881,-70.27054595947266,77.36577606201172,-21.73455047607422,1.0282527208328247,7.7917842864990225,68.90372467041016,-10.520872116088867,120.49046325683594,-39.686431884765625
4,1,55.5472526550293,43.6900749206543,-65.49598693847656,-13.974522590637207,-28.27496337890625,-39.05012893676758,-1.2106596231460571,-19.012897491455078,19.568010330200195,...,57.49507141113281,-76.39321899414062,127.26136016845705,-13.035799026489258,46.3818244934082,-15.752449989318848,31.00033187866211,-39.607521057128906,24.76401138305664,-36.7710075378418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,915,-7.4295125007629395,-4.81321907043457,-3.670536518096924,1.4422610998153689,-19.6804313659668,-29.109355926513672,-3.3765623569488525,-8.764892578125,0.017911728471517563,...,58.28579330444336,68.55741119384766,22.83304786682129,76.17948913574219,51.9346694946289,-6.614512920379639,-6.690762042999268,22.893030166625977,48.27437973022461,76.22845458984375
919,916,-33.55413818359375,-38.60562133789063,-25.66480255126953,-30.252351760864254,5.5627851486206055,20.182186126708984,17.91124725341797,24.65358161926269,-32.93561172485352,...,59.86481857299805,23.00457763671875,7.6574625968933105,50.96239852905274,13.696922302246096,63.50361633300781,57.40117645263672,24.97454833984375,51.97215270996094,64.53878784179689
920,917,-78.53956604003906,-74.19718933105469,-54.04159545898438,-39.97029113769531,-14.277058601379395,-30.606460571289066,60.62852096557617,62.02702331542969,-32.80055618286133,...,68.76786804199219,49.66401672363281,64.55149841308594,43.80074691772461,8.144479751586914,47.28145980834961,70.49964904785156,66.99440002441406,81.53924560546875,64.96977233886719
921,918,-103.23582458496094,-98.7442855834961,-40.10954284667969,-44.90773391723633,12.109148025512695,1.6213401556015017,33.765560150146484,55.35607147216797,-14.330512046813965,...,103.1552505493164,106.45484924316406,9.04682731628418,46.67441940307617,40.95479583740234,0.8771800398826599,37.57715225219727,20.517745971679688,3.124434232711792,56.71838760375977
922,919,-36.28886795043945,-10.762069702148438,-30.35626220703125,-23.31950378417969,14.252187728881836,-27.55986022949219,17.279512405395508,-19.060152053833008,26.55877685546875,...,102.0863037109375,80.05113983154297,-2.6426103115081787,-12.229619979858398,-6.596726417541504,17.665163040161133,16.153173446655273,8.300398826599121,33.687530517578125,17.960655212402344

In [158]:
df3.index='a b c d e'.split()
df3

ValueError: Length mismatch: Expected axis has 923 elements, new values have 5 elements

Tablonun tüm değerlerini liste şeklinde görme

In [ ]:
list(df3.items())

İndexi görme

In [159]:
df3.index

RangeIndex(start=0, stop=923, step=1)

## indexin değerlerini görme

In [ ]:
df.index_adı.unique()

In [ ]:
a= df.groupby("index_sütununun_adı").sum().index
a

## indexe göre bir sütunun değerlerini görme

In [ ]:
day_of_total_bill= list(tips.groupby("day")["total_bill"].sum())
day_of_total_bill

SÜTUN İSİMLERİNİ GÖRME

In [160]:
df3.keys()

Index(['network', '1', '1.1', '2', '2.1', '3', '3.1', '4', '4.1', '5', '5.1',
       '6', '6.1', '6.2', '6.3', '7', '7.1', '7.2', '7.3', '7.4', '7.5', '8',
       '8.1', '8.2', '8.3', '8.4', '8.5', '9', '9.1', '10', '10.1', '11',
       '11.1', '12', '12.1', '12.2', '12.3', '12.4', '13', '13.1', '13.2',
       '13.3', '13.4', '13.5', '14', '14.1', '15', '15.1', '16', '16.1',
       '16.2', '16.3', '16.4', '16.5', '16.6', '16.7', '17', '17.1', '17.2',
       '17.3', '17.4', '17.5', '17.6'],
      dtype='object')

In [ ]:
# GARİP OLDU
df3["W":"X"]

TABLONUN DEĞERLERİNİ GÖRME

In [161]:
df3.values

array([['node', '1', '1', ..., '3', '3', '4'],
       ['hemi', 'lh', 'rh', ..., 'lh', 'rh', 'lh'],
       [nan, nan, nan, ..., nan, nan, nan],
       ...,
       ['917', '-78.53956604003906', '-74.19718933105469', ...,
        '66.99440002441406', '81.53924560546875', '64.96977233886719'],
       ['918', '-103.23582458496094', '-98.7442855834961', ...,
        '20.517745971679688', '3.124434232711792', '56.71838760375977'],
       ['919', '-36.28886795043945', '-10.762069702148438', ...,
        '8.300398826599121', '33.687530517578125', '17.960655212402344']],
      dtype=object)

In [ ]:
#values() ile göstermiyor.
df3.values()

TABLONUN DEĞERLERİNİ İNDİSE GÖRE GÖRME

In [ ]:
#1.SATIRADKİ DEĞERELERİ GÖSTERİYOR.
df3.values[1]

INDEXLERİ SIRALAMA

In [167]:
df3.sort_index()

,network,1,1.1,2,2.1,3,3.1,4,4.1,5,...,16.5,16.6,16.7,17,17.1,17.2,17.3,17.4,17.5,17.6
0,node,1,1,1,1,1,1,1,1,1,...,3,4,4,1,1,2,2,3,3,4
1,hemi,lh,rh,lh,rh,lh,rh,lh,rh,lh,...,rh,lh,rh,lh,rh,lh,rh,lh,rh,lh
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,56.05574417114258,92.03103637695312,3.391575574874878,38.65968322753906,26.203819274902344,-49.71556854248047,47.4610366821289,26.746612548828125,-35.898860931396484,...,0.6079040169715881,-70.27054595947266,77.36577606201172,-21.73455047607422,1.0282527208328247,7.7917842864990225,68.90372467041016,-10.520872116088867,120.49046325683594,-39.686431884765625
4,1,55.5472526550293,43.6900749206543,-65.49598693847656,-13.974522590637207,-28.27496337890625,-39.05012893676758,-1.2106596231460571,-19.012897491455078,19.568010330200195,...,57.49507141113281,-76.39321899414062,127.26136016845705,-13.035799026489258,46.3818244934082,-15.752449989318848,31.00033187866211,-39.607521057128906,24.76401138305664,-36.7710075378418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,915,-7.4295125007629395,-4.81321907043457,-3.670536518096924,1.4422610998153689,-19.6804313659668,-29.109355926513672,-3.3765623569488525,-8.764892578125,0.017911728471517563,...,58.28579330444336,68.55741119384766,22.83304786682129,76.17948913574219,51.9346694946289,-6.614512920379639,-6.690762042999268,22.893030166625977,48.27437973022461,76.22845458984375
919,916,-33.55413818359375,-38.60562133789063,-25.66480255126953,-30.252351760864254,5.5627851486206055,20.182186126708984,17.91124725341797,24.65358161926269,-32.93561172485352,...,59.86481857299805,23.00457763671875,7.6574625968933105,50.96239852905274,13.696922302246096,63.50361633300781,57.40117645263672,24.97454833984375,51.97215270996094,64.53878784179689
920,917,-78.53956604003906,-74.19718933105469,-54.04159545898438,-39.97029113769531,-14.277058601379395,-30.606460571289066,60.62852096557617,62.02702331542969,-32.80055618286133,...,68.76786804199219,49.66401672363281,64.55149841308594,43.80074691772461,8.144479751586914,47.28145980834961,70.49964904785156,66.99440002441406,81.53924560546875,64.96977233886719
921,918,-103.23582458496094,-98.7442855834961,-40.10954284667969,-44.90773391723633,12.109148025512695,1.6213401556015017,33.765560150146484,55.35607147216797,-14.330512046813965,...,103.1552505493164,106.45484924316406,9.04682731628418,46.67441940307617,40.95479583740234,0.8771800398826599,37.57715225219727,20.517745971679688,3.124434232711792,56.71838760375977
922,919,-36.28886795043945,-10.762069702148438,-30.35626220703125,-23.31950378417969,14.252187728881836,-27.55986022949219,17.279512405395508,-19.060152053833008,26.55877685546875,...,102.0863037109375,80.05113983154297,-2.6426103115081787,-12.229619979858398,-6.596726417541504,17.665163040161133,16.153173446655273,8.300398826599121,33.687530517578125,17.960655212402344

DEĞERELERİ SIRALAMA

In [168]:
df3.sort_values(by=df3)

KeyError:     network                    1                  1.1                   2  \
0      node                    1                    1                   1
1      hemi                   lh                   rh                  lh
2       NaN                  NaN                  NaN                 NaN
3         0    56.05574417114258    92.03103637695312   3.391575574874878
4         1     55.5472526550293     43.6900749206543  -65.49598693847656
..      ...                  ...                  ...                 ...
918     915  -7.4295125007629395    -4.81321907043457  -3.670536518096924
919     916   -33.55413818359375   -38.60562133789063  -25.66480255126953
920     917   -78.53956604003906   -74.19718933105469  -54.04159545898438
921     918  -103.23582458496094    -98.7442855834961  -40.10954284667969
922     919   -36.28886795043945  -10.762069702148438  -30.35626220703125

                     2.1                    3                  3.1  \
0                      1                    1                    1
1                     rh                   lh                   rh
2                    NaN                  NaN                  NaN
3      38.65968322753906   26.203819274902344   -49.71556854248047
4    -13.974522590637207   -28.27496337890625   -39.05012893676758
..                   ...                  ...                  ...
918   1.4422610998153689    -19.6804313659668  -29.109355926513672
919  -30.252351760864254   5.5627851486206055   20.182186126708984
920   -39.97029113769531  -14.277058601379395  -30.606460571289066
921   -44.90773391723633   12.109148025512695   1.6213401556015017
922   -23.31950378417969   14.252187728881836   -27.55986022949219

                       4                  4.1                     5  ...  \
0                      1                    1                     1  ...
1                     lh                   rh                    lh  ...
2                    NaN                  NaN                   NaN  ...
3       47.4610366821289   26.746612548828125   -35.898860931396484  ...
4    -1.2106596231460571  -19.012897491455078    19.568010330200195  ...
..                   ...                  ...                   ...  ...
918  -3.3765623569488525      -8.764892578125  0.017911728471517563  ...
919    17.91124725341797    24.65358161926269    -32.93561172485352  ...
920    60.62852096557617    62.02702331542969    -32.80055618286133  ...
921   33.765560150146484    55.35607147216797   -14.330512046813965  ...
922   17.279512405395508  -19.060152053833008     26.55877685546875  ...

                   16.5                16.6                 16.7  \
0                     3                   4                    4
1                    rh                  lh                   rh
2                   NaN                 NaN                  NaN
3    0.6079040169715881  -70.27054595947266    77.36577606201172
4     57.49507141113281  -76.39321899414062   127.26136016845705
..                  ...                 ...                  ...
918   58.28579330444336   68.55741119384766    22.83304786682129
919   59.86481857299805   23.00457763671875   7.6574625968933105
920   68.76786804199219   49.66401672363281    64.55149841308594
921   103.1552505493164  106.45484924316406     9.04682731628418
922   102.0863037109375   80.05113983154297  -2.6426103115081787

                      17                17.1                 17.2  \
0                      1                   1                    2
1                     lh                  rh                   lh
2                    NaN                 NaN                  NaN
3     -21.73455047607422  1.0282527208328247   7.7917842864990225
4    -13.035799026489258    46.3818244934082  -15.752449989318848
..                   ...                 ...                  ...
918    76.17948913574219    51.9346694946289   -6.614512920379639
919    50.96239852905274  13.696922302246096    63.50361633300781
920    43.80074691772461   8.144479751586914    47.28145980834961
921    46.67441940307617   40.95479583740234   0.8771800398826599
922  -12.229619979858398  -6.596726417541504   17.665163040161133

                   17.3                 17.4                17.5  \
0                     2                    3                   3
1                    rh                   lh                  rh
2                   NaN                  NaN                 NaN
3     68.90372467041016  -10.520872116088867  120.49046325683594
4     31.00033187866211  -39.607521057128906   24.76401138305664
..                  ...                  ...                 ...
918  -6.690762042999268   22.893030166625977   48.27437973022461
919   57.40117645263672    24.97454833984375   51.97215270996094
920   70.49964904785156    66.99440002441406   81.53924560546875
921   37.57715225219727   20.517745971679688   3.124434232711792
922  16.153173446655273    8.300398826599121  33.687530517578125

                    17.6
0                      4
1                     lh
2                    NaN
3    -39.686431884765625
4      -36.7710075378418
..                   ...
918    76.22845458984375
919    64.53878784179689
920    64.96977233886719
921    56.71838760375977
922   17.960655212402344

[923 rows x 63 columns]

INDISE GÖRE DEĞERLERİ GÖRME

In [ ]:
df3["W"]

In [166]:
df3["X"]

KeyError: 'X'

In [ ]:
df3["Y"]

In [ ]:
df3.W

In [ ]:
df3.X

In [ ]:
df3[["W","X"]]

In [ ]:
df3[1:4]

# SEABORN

# Seaborn plot types :1.Distribution Plots, 2.Categorical Plots,  3.Comparison Plots 4.Matrix Plots

# Relational plots
relplot

Figure-level interface for drawing relational plots onto a FacetGrid.

scatterplot

Draw a scatter plot with possibility of several semantic groupings.

lineplot

Draw a line plot with possibility of several semantic groupings.

# Distribution plots
displot

Figure-level interface for drawing distribution plots onto a FacetGrid.

histplot

Plot univariate or bivariate histograms to show distributions of datasets.

kdeplot

Plot univariate or bivariate distributions using kernel density estimation.

ecdfplot

Plot empirical cumulative distribution functions.

rugplot

Plot marginal distributions by drawing ticks along the x and y axes.

distplot

DEPRECATED: Flexibly plot a univariate distribution of observations

# Categorical plots
catplot

Figure-level interface for drawing categorical plots onto a FacetGrid.

stripplot

Draw a scatterplot where one variable is categorical.

swarmplot

Draw a categorical scatterplot with non-overlapping points.

boxplot

Draw a box plot to show distributions with respect to categories.

violinplot

Draw a combination of boxplot and kernel density estimate.

boxenplot

Draw an enhanced box plot for larger datasets.

pointplot

Show point estimates and confidence intervals using scatter plot glyphs.

barplot

Show point estimates and confidence intervals as rectangular bars.

countplot

Show the counts of observations in each categorical bin using bars.

# Regression plots
lmplot

Plot data and regression model fits across a FacetGrid.

regplot

Plot data and a linear regression model fit.

residplot

Plot the residuals of a linear regression.

Matrix plots
heatmap

# Matrix plots¶
heatmap

Plot rectangular data as a color-encoded matrix.

clustermap

Plot a matrix dataset as a hierarchically-clustered heatmap.

# Multi-plot grids
Facet grids
FacetGrid

Multi-plot grid for plotting conditional relationships.

Pair grids
pairplot

Plot pairwise relationships in a dataset.

PairGrid

Subplot grid for plotting pairwise relationships in a dataset.

Joint grids
jointplot

Draw a plot of two variables with bivariate and univariate graphs.

JointGrid

Grid for drawing a bivariate plot with marginal univariate plots.

In [ ]:
df5

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
type()

In [ ]:
plt.plot(df5.x,df5.y);

In [ ]:
plt.plot(df5.y, df5.z)

In [ ]:
import seaborn as sns

In [ ]:
sns.set()

In [ ]:
plt.plot(df5.x,df5.y)

In [ ]:
sns.set_style("white")

In [ ]:
plt.plot(df5.x,df5.y)

In [ ]:
sns.__version__

In [ ]:
import matplotlib
matplotlib.__version__

In [ ]:
df5.head()

In [ ]:
sns.relplot(
    x=df5.cut,
    y=df5.depth,
    hue='x',
    size=(10,5),
    style=None,
    data=df5,
    row=None,
    col=df5.y,
    col_wrap=None,
    row_order=None,
    col_order=None,
    palette=None,
    hue_order=None,
    hue_norm=None,
    sizes=None,
    size_order=None,
    size_norm=None,
    markers=None,
    dashes=None,
    style_order=None,
    legend='auto',
    kind='scatter',
    height=5,
    aspect=1,
    facet_kws=None,
    units=None,
    )

# SCATTERPLOT

In [ ]:
df5= df5[df5.cut.isin(['Premium','Good']) & df5.color.isin(['D','F','J'])].sample(n=100, random_state=22)
df5

In [ ]:
df5.shape

In [ ]:
sns.set_style('dark')

In [ ]:
sns.scatterplot(x=df5.carat,
    y=df5.price,
    hue=None,
    style=None,
    size=None,
    data=df5,
    palette=None,
    hue_order=None,
    hue_norm=None,
    sizes=None,
    size_order=None,
    size_norm=None,
    markers=True,
    style_order=None,
    x_bins=None,
    y_bins=None,
    units=None,
    estimator=None,
    ci=95,
    n_boot=1000,
    alpha=None,
    x_jitter=None,
    y_jitter=None,
    legend='auto',
    ax=None,
)

In [ ]:
sns.scatterplot(x='x', y='y', data=df5)

In [ ]:
sns.scatterplot(x='x', y='y', data=df5, hue='cut')

In [ ]:
sns.scatterplot(x='x', y='y', data=df5, hue='cut', palette=['purple','#55CCCC']);

# CONTINIOUS VARIABLE

In [ ]:
sns.scatterplot(x='carat', y='price', hue='depth', data=df5);

# STYLE

In [ ]:
sns.scatterplot(x='carat', y='price',data=df5, s=150);

In [ ]:
sns.scatterplot(x='carat', y='price',data=df5, s=150,style='cut')

In [ ]:
sns.scatterplot(x='carat', y='price',data=df5, s=200,style='cut', size='cut')

In [ ]:
sns.scatterplot(x='carat', y='price',data=df5, s=200,style='cut', size='cut', sizes=[10,25])

In [ ]:
sns.scatterplot(x='carat', y='price',hue='cut', style='color', data=df5, s=200, size='cut')

In [ ]:
sns.scatterplot(x='carat', y='price',hue='cut', style='color', data=df5, s=200, size='cut', alpha=0.6)

In [ ]:
sns.scatterplot(x='carat', y='price',hue='cut', style='color', data=df5, s=200, size='cut', alpha=0.6, marker='*')

In [ ]:
sns.scatterplot(x='carat', y='price',hue='cut', style='color', data=df5, s=200, size='cut', alpha=0.6, marker='*', edgecolor='black')

# Distribution Plots

# histplot>            x=sayısal sütun ismi, veya (x=syısal sütun ismi, data=verinin adı

In [ ]:
df5.head()

In [ ]:
sns.histplot( data=None,
    *,
    x=None,
    y=None,
    hue=None,
    weights=None,
    stat='count',
    bins='auto',
    binwidth=None,
    binrange=None,
    discrete=None,
    cumulative=False,
    common_bins=True,
    common_norm=True,
    multiple='layer',
    element='bars',
    fill=True,
    shrink=1,
    kde=False,
    kde_kws=None,
    line_kws=None,
    thresh=0,
    pthresh=None,
    pmax=None,
    cbar=False,
    cbar_ax=None,
    cbar_kws=None,
    palette=None,
    hue_order=None,
    hue_norm=None,
    color=None,
    log_scale=None,
    legend=True,
    ax=None,
    **kwargs,
))

In [ ]:
sns.histplot(x=df5.color)

In [ ]:
sns.histplot(x=df5.carat)

In [ ]:
sns.histplot(x=df5.z)

In [ ]:
sns.histplot(x=df5.z, data=df5)

In [ ]:
sns.histplot(y=df5.z, data=df5)

In [ ]:
sns.histplot(x=df5.y)

In [ ]:
sns.histplot(x=df5.z, data=df5, kde=True)

In [ ]:
sns.histplot(x=df5.z, data=df5, kde=True, bins=20) # bis, rakam kadar sütun oluşturur. bins, bin=[liste] de olabilir.

In [ ]:
sns.histplot(x=df5.z, data=df5, kde=True, bins=7, binwidth=0.5, binrange=(2.5, 5.5));  #bindwith: x değerinin rakamalrı arasındaki atlama miktaı,
                                                                                       #binrange: x değerlerinin başalngıç ve bitiş rakmalrı

In [ ]:
sns.histplot(x=df5.z, data=df5, stat='count') # stat değeri ................... işe yarar. y sütununda görünür. stat='count/density/probability
                                               # density=area of histogram sums to one
                                                # probability=height of histogram bars to one

In [ ]:
sns.histplot(x=df5.z, data=df5,stat='probability', fill='False', element='step',cumulative=True) #element=step/bars/poly olabilir.
                                                                                                    #cumultaive=True/False
                                                                                                 #fill=True/False olabilir. Grafiğin içinin dolu/boş olma durumunu gösterir.

# Categorical Variables in histplot

In [ ]:
sns.histplot(x=df5.z, data=df5,hue=df5.color)

In [ ]:
sns.histplot(x=df5.z, data=df5,hue=df5.color, element='step')

In [ ]:
sns.histplot(x=df5.z, data=df5,hue=df5.color, element='poly')

In [ ]:
sns.histplot(x=df5.z, data=df5,hue=df5.color, multiple='layer') #multiple=layer/stack/fill/dodge  olabilir

In [ ]:
sns.histplot(x=df5.z, data=df5,hue=df5.color, multiple='stack') #multiple=layer/stack/fill  olabilir

In [ ]:
sns.histplot(x=df5.z, data=df5,hue=df5.color, multiple='fill') #multiple=layer/stack/fill  olabilir

In [ ]:
sns.histplot(x=df5.z, data=df5,hue=df5.color, multiple='dodge') #multiple=layer/stack/fill/dodge  olabilir

# Bivariate histplot in histplot

In [ ]:
sns.histplot(x=df5.z, y=df5.price, data=df5)

In [ ]:
sns.histplot(x=df5.z, y=df5.price, data=df5, cbar=True)  #cbar: grafiğin yanında ölçek barı oluşturur.

In [ ]:
sns.histplot(x=df5.z, y=df5.price, data=df5, hue=df5.color)  #cbar: grafiğin yanında ölçek barı oluşturur.

# Discreate color map in histplot

In [ ]:
sns.histplot(x=df5.z, y=df5.color, data=df5, hue=df5.color)  #cbar: grafiğin yanında ölçek barı oluşturur.

# Styling in histplot

#shrink

In [ ]:
df5.head()

In [ ]:
sns.histplot(x=df5.clarity, hue=df5.cut, data=df5)  #Sütunlar birbirine yapışık. Bunları birbirinden ayırmak için "shrink" kullan.

In [ ]:
sns.histplot(x=df5.clarity, hue=df5.cut, data=df5, shrink=0.8) #Sütunları birbirinden ayırmak için "shrink" kullanılır.

# color, palette in histogram

In [ ]:
sns.histplot(x=df5.clarity, data=df5, color='indigo') #color:indigo olabilir

In [ ]:
sns.histplot(x=df5.z, data=df5,hue=df5.color, multiple='dodge',palette='bone') #palette:bone olabilir

# fill

In [ ]:
sns.histplot(x=df5.z, data=df5, fill=False) #fill=True/False olabilir. True olursa grafiğin içi dolu, false olursa grafiğin içi boş olur.

In [ ]:
sns.histplot(df5.table)

In [ ]:
sns.histplot(x=df5.price)

In [ ]:
sns.histplot(x=df5.x)

In [ ]:
sns.__version__

In [ ]:
sns.histplot(x=df5.depth)

# Categorical Plots: barplot, countplot, violinplot, stripplot

In [ ]:
df5.head()

# barplot

# Not:ci=confidence intervel(güven aralığı

In [ ]:
sns.barplot(x=df5.cut, y=df5.price, data=df5)  #x should be categorical data, y should be numeric data

In [ ]:
sns.barplot(x=df5.cut, y=df5.price, data=df5, ci=95)  #x should be categorical data, y should be numeric data

In [ ]:
sns.barplot(x=df5.cut, y=df5.price, data=df5, ci='sd')  #cd 95 ile aynı

In [ ]:
sns.barplot(x=df5.cut, y=df5.price, data=df5, ci='sd', estimator=np.sum)  #estimator: mean,mediam, sum, max, min, count_nonzero olabilir.

In [ ]:
sns.barplot(x=df5.cut, y=df5.price, data=df5, ci='sd', estimator=np.median)  #estimator: mean,mediam, sum, max, min, count_nonzero olabilir.

In [ ]:
sns.barplot(x=df5.cut, y=df5.price, data=df5, ci='sd', estimator=np.count_nonzero)  #estimator: mean,mediam, sum, max, min, count_nonzero olabilir.

In [ ]:
sns.barplot(x=df5.color, y=df5.x, data=df5)

In [ ]:
sns.barplot(x=df5.clarity, y=df5.y, data=df5);

In [ ]:
df5.groupby('cut').df5.price.mean()

In [ ]:
sns.barplot(x=df5.y, y=df5.clarity, data=df5);   #x should be numeric data, y should be categorical data

# countplot  #sadece x değeri yazılır, x'in kategorik veri olması gerekir.barplota benzer

# countplot

In [ ]:
sns.countplot(x=df5.cut, data=df5)

In [ ]:
sns.countplot(x=df5.color, data=df5)

In [ ]:
df5.color.value_counts(sort=False)

In [ ]:
df5.color.value_counts(sort=False).index

In [ ]:
sns.countplot(x=df5.color, data=df5, order=df5.color.value_counts().index)

In [ ]:
sns.countplot(x=df5.color, data=df5, order=df5.color.value_counts().index)[::-1]

In [ ]:
sns.countplot(y=df5.color, data=df5)

In [ ]:
sns.countplot(x=df5.cut, data=df5, hue=df5.color)

In [ ]:
sns.countplot(x=df5.cut, data=df5, hue=df5.color, hue_order=['D','E'])

In [ ]:
ax=sns.countplot(x=df5.color, data=df5, hue=df5.cut)
for p in ax.patches:
    ax.annotate((p.get_height()), (p.get_x()+0.1, p.get_height()+1))
    ax.text(p.get_x()+0.1, p.get_height()-3,str(round(p.get_height()/df5.color.count(),2)) )     # yüzdelik ekledik

In [ ]:
df5.dtypes

In [ ]:
df5.color.cat.categories

In [ ]:
df5.cut.cat.categories

In [ ]:
color_order=['D', 'E', 'F', 'G', 'H', 'I', 'J']
sns.countplot(x=df5.color,data=df5,order=color_order);

In [ ]:
df5.color.value_counts().index

In [ ]:
df5.head()

In [ ]:
sns.countplot(x=df5.cut, data=df5)

In [ ]:
sns.countplot(x=df5.cut, hue=df5.color,data=df5)

# BOXPLOT #kategorik değere göre numeric değer

In [ ]:
sns.boxplot(y=df5.color, x=df5.price, data=df5, hue=df5.cut)
plt.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.)

In [ ]:
sns.boxplot(y=df5.color, x=df5.price, data=df5, hue=df5.cut)

In [ ]:
df5.color.value_counts(sort=False)

# vıolınplot =boxplot+KDEplot
,catecorical distribution plot

In [ ]:
sns.violinplot(x='color', y='price', data=df5)

In [ ]:
sns.violinplot(x='cut', y='price', data=df5, hue="color")

In [ ]:
sns.violinplot(x='cut', y='price', data=df5, hue="color", split=True)

# swarmplot

In [ ]:
sns.swarmplot(x=df5.color, y=df5.price, data=df5, hue=df5.cut)

# boxenplot: büyük veri setinde kullanılır

In [ ]:
sns.boxenplot(x=df5.color, y=df5.price, data=df5, hue=df5.cut)

# lineplot

DEĞERELERİN TABLODA OLUP OLMADIĞINI KNTROL ETME