In [17]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\toshiba\anaconda3\lib\site-packages (4.0.0-unsupported)
Note: you may need to restart the kernel to use updated packages.

In [62]:
import pyodbc

# def create_server_connection(driver, server, database, user, password):
    conn = None
    try:
        conn = pyodbc.connect(DRIVER=driver, SERVER=server, DATABASE=database, UID=user, PWD=password)
        print("Successfull!")
    except Error as err:
        print(f"Error: '{err}'")
    return conn

#driver = '{ODBC Driver 17 for SQL Server}'     #kullanıcı adı ve şifresi ile bağlanma
server = 'localhost'
database = 'master'
user = 'sa'
password = 'your_password'
conn = create_server_connection(driver,server,database,user,password)

In [24]:
#conn.close()

In [65]:
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 13 for SQL Server',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)',
 'PostgreSQL ANSI(x64)',
 'PostgreSQL Unicode(x64)']

In [66]:
conn_string = "driver={ODBC Driver 17 for SQL Server}; server=localhost; database=master; TRUSTED_CONNECTION=yes;"  #windows authontication ile bağlanma

In [67]:
conn = pyodbc.connect (conn_string)

In [ ]:
#conn.close()

In [68]:
conn= conn.cursor()   #cursor ile tablolara-verilere ulaşırız
conn

In [7]:
#conn.autocommit() = True   # değişiklein sqlservera yansımasını sağlar. işlemleri kontrollü bir şekilde yapmamızı sağlar

SyntaxError: cannot assign to function call (<ipython-input-7-4fd508240fda>, line 1)

In [69]:
create_db_syntax= 'CREATE DATABASE SAMPLEDB_1'
conn.commit()

In [70]:
conn_string = "driver={ODBC Driver 17 for SQL Server}; server=localhost; database=master; TRUSTED_CONNECTION=yes;"
conn = pyodbc.connect (conn_string)
crs = conn.cursor()
conn.autocommit=True
create_db_syntax = 'CREATE DATABASE SAMPLEDB_1'
def create_database (conn, create_db_syntax):
    conn = conn.cursor()
    try:
        conn.execute(create_db_syntax)
        print("Database is Created Succesfully")
    except Exception as err:
        print(f"Error:'{err}'")
create_database(conn, create_db_syntax)

Error:'('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Database 'SAMPLEDB_1' already exists. Choose a different database name. (1801) (SQLExecDirectW)")'

In [72]:
def execute_query(conn, query):
    conn = conn.cursor()
    try:
        conn.execute(query)
        conn.commit()
        print("Query Succeessful!")
    except Error as err:
        print(f"Error:'{err}'")

In [73]:
query = 'USE SAMPLEDB_1'

In [74]:
execute_query(conn, query)

Query Succeessful!

In [75]:
query = 'CREATE TABLE TestA (\
           ID INT IDENTITY (1,1) NOT NULL, \
           FirstName VARCHAR(255) NOT NULL,\
           LastName VARCHAR(255) NOT NULL,\
           PRIMARY KEY(ID))'

In [16]:
execute_query(conn, query)

NameError: name 'Error' is not defined

In [76]:
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Tom', 'Cat')
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Jerry', 'Mouse')
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Owen', 'William')
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Stefan', 'Müller')
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Tom', 'Hanks')
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Bart', 'Simpson')
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Bruce', 'Lee')
crs.execute("INSERT TestA (FirstName, LastName) VALUES ('Bob', 'Marley')")
crs.execute("DELETE FROM TestA WHERE FirstName = 'Jerry'")

In [77]:
print(crs.rowcount,"row(s) deleted")

1 row(s) deleted

# Reading data

## Fetchone

In [78]:
crs.execute('select FirstName, LastName from TestA')

In [79]:
row = crs.fetchone()
row

('Tom', 'Cat')

In [80]:
row.FirstName

'Tom'

In [81]:
row.LastName

'Cat'

## Fetchall

In [82]:
crs.execute('SELECT ID, FirstName, LastName FROM TestA')
rows = crs.fetchall()
rows

[(1, 'Tom', 'Cat'),
 (3, 'Owen', 'William'),
 (4, 'Stefan', 'Müller'),
 (5, 'Tom', 'Hanks'),
 (6, 'Bart', 'Simpson'),
 (7, 'Bruce', 'Lee'),
 (8, 'Bob', 'Marley'),
 (9, 'Tom', 'Cat'),
 (11, 'Owen', 'William'),
 (12, 'Stefan', 'Müller'),
 (13, 'Tom', 'Hanks'),
 (14, 'Bart', 'Simpson'),
 (15, 'Bruce', 'Lee'),
 (16, 'Bob', 'Marley'),
 (17, 'Tom', 'Cat'),
 (19, 'Owen', 'William'),
 (20, 'Stefan', 'Müller'),
 (21, 'Tom', 'Hanks'),
 (22, 'Bart', 'Simpson'),
 (23, 'Bruce', 'Lee'),
 (24, 'Bob', 'Marley'),
 (25, 'Tom', 'Cat'),
 (27, 'Owen', 'William'),
 (28, 'Stefan', 'Müller'),
 (29, 'Tom', 'Hanks'),
 (30, 'Bart', 'Simpson'),
 (31, 'Bruce', 'Lee'),
 (32, 'Bob', 'Marley')]

In [83]:
for row in rows:
    print(row.ID, row.FirstName, row.LastName)

1 Tom Cat
3 Owen William
4 Stefan Müller
5 Tom Hanks
6 Bart Simpson
7 Bruce Lee
8 Bob Marley
9 Tom Cat
11 Owen William
12 Stefan Müller
13 Tom Hanks
14 Bart Simpson
15 Bruce Lee
16 Bob Marley
17 Tom Cat
19 Owen William
20 Stefan Müller
21 Tom Hanks
22 Bart Simpson
23 Bruce Lee
24 Bob Marley
25 Tom Cat
27 Owen William
28 Stefan Müller
29 Tom Hanks
30 Bart Simpson
31 Bruce Lee
32 Bob Marley

In [84]:
crs.execute("""SELECT ID, FirstName, LastName
                FROM TestA""")
rows = crs.fetchall()
rows

[(1, 'Tom', 'Cat'),
 (3, 'Owen', 'William'),
 (4, 'Stefan', 'Müller'),
 (5, 'Tom', 'Hanks'),
 (6, 'Bart', 'Simpson'),
 (7, 'Bruce', 'Lee'),
 (8, 'Bob', 'Marley'),
 (9, 'Tom', 'Cat'),
 (11, 'Owen', 'William'),
 (12, 'Stefan', 'Müller'),
 (13, 'Tom', 'Hanks'),
 (14, 'Bart', 'Simpson'),
 (15, 'Bruce', 'Lee'),
 (16, 'Bob', 'Marley'),
 (17, 'Tom', 'Cat'),
 (19, 'Owen', 'William'),
 (20, 'Stefan', 'Müller'),
 (21, 'Tom', 'Hanks'),
 (22, 'Bart', 'Simpson'),
 (23, 'Bruce', 'Lee'),
 (24, 'Bob', 'Marley'),
 (25, 'Tom', 'Cat'),
 (27, 'Owen', 'William'),
 (28, 'Stefan', 'Müller'),
 (29, 'Tom', 'Hanks'),
 (30, 'Bart', 'Simpson'),
 (31, 'Bruce', 'Lee'),
 (32, 'Bob', 'Marley')]

In [85]:
crs.execute("""SELECT ID, FirstName, LastName
               FROM TestA
               WHERE FirstName = ? and LastName = ?""", ['Owen', 'William'])
rows = crs.fetchall()
rows

[(3, 'Owen', 'William'),
 (11, 'Owen', 'William'),
 (19, 'Owen', 'William'),
 (27, 'Owen', 'William')]

## Fetchmany

In [86]:
crs.execute("""SELECT ID, FirstName, LastName
               FROM TestA""")
rows = crs.fetchmany(2)
rows

[(1, 'Tom', 'Cat'), (3, 'Owen', 'William')]

## Fetchval #ilk satır ilk hücre değerini getirir

In [87]:
crs.execute("""SELECT ID, FirstName, LastName
                FROM TestA""")
rows = crs.fetchall()
rows

[(1, 'Tom', 'Cat'),
 (3, 'Owen', 'William'),
 (4, 'Stefan', 'Müller'),
 (5, 'Tom', 'Hanks'),
 (6, 'Bart', 'Simpson'),
 (7, 'Bruce', 'Lee'),
 (8, 'Bob', 'Marley'),
 (9, 'Tom', 'Cat'),
 (11, 'Owen', 'William'),
 (12, 'Stefan', 'Müller'),
 (13, 'Tom', 'Hanks'),
 (14, 'Bart', 'Simpson'),
 (15, 'Bruce', 'Lee'),
 (16, 'Bob', 'Marley'),
 (17, 'Tom', 'Cat'),
 (19, 'Owen', 'William'),
 (20, 'Stefan', 'Müller'),
 (21, 'Tom', 'Hanks'),
 (22, 'Bart', 'Simpson'),
 (23, 'Bruce', 'Lee'),
 (24, 'Bob', 'Marley'),
 (25, 'Tom', 'Cat'),
 (27, 'Owen', 'William'),
 (28, 'Stefan', 'Müller'),
 (29, 'Tom', 'Hanks'),
 (30, 'Bart', 'Simpson'),
 (31, 'Bruce', 'Lee'),
 (32, 'Bob', 'Marley')]

In [88]:
crs.execute("""SELECT ID, FirstName, LastName
               FROM TestA
               WHERE FirstName = ? and LastName = ?""", ['Owen', 'William'])
rows = crs.fetchall()
rows

[(3, 'Owen', 'William'),
 (11, 'Owen', 'William'),
 (19, 'Owen', 'William'),
 (27, 'Owen', 'William')]

In [89]:
crs.execute("""SELECT ID, FirstName, LastName
               FROM TestA""")
rows = crs.fetchmany(2)
rows

[(1, 'Tom', 'Cat'), (3, 'Owen', 'William')]

In [90]:
crs.execute("SELECT MAX(ID) FROM TestA").fetchval()

32

In [91]:
crs.execute("SELECT FirstName FROM TestA").fetchval()

'Tom'

In [51]:
crs.execute("SELECT FirstName, LastName FROM TestA").fetchval()

'Tom'

# Pandas Method

In [92]:
import pandas as pd

In [93]:
def read_query (conn, query): #connection nesnesi yukarıda tanımlanmıştı.
    crs = conn. cursor()
    results = None
    crs.execute(query)
    results = crs.fetchall()
    return results

In [94]:
query = """SELECT ID, FirstName, LastName
               FROM TestA"""

In [95]:
read_query(conn, query)

Error: ('HY000', '[HY000] [Microsoft][ODBC Driver 17 for SQL Server]Connection is busy with results for another command (0) (SQLExecDirectW)')

In [96]:
from_db = []
for result in result:
    result = list(result)
    from_db.append(result)

NameError: name 'result' is not defined