In [20]:
from scipy import stats
import pandas as pd

In [2]:
x = [91.50, 94.18, 92.18, 95.39, 91.79, 89.07, 94.72, 89.21, 89.19, 90.95, 90.46, 93.21, 97.19, 97.04, 91.07, 92.75]
group = [1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2]
df = pd.DataFrame({"yield":x, "group":group})
df

    yield  group
0   91.50      1
1   94.18      1
2   92.18      1
3   95.39      1
4   91.79      1
5   89.07      1
6   94.72      1
7   89.21      1
8   89.19      2
9   90.95      2
10  90.46      2
11  93.21      2
12  97.19      2
13  97.04      2
14  91.07      2
15  92.75      2

In [4]:
stats.ttest_ind(df[df.group == 1]["yield"], df[df.group == 2]["yield"] )

Ttest_indResult(statistic=-0.3535908643461798, pvalue=0.7289136186068217)

In [5]:
ind_Test= stats.ttest_ind(df[df.group == 1]["yield"], df[df.group == 2]["yield"] )
ind_Test

Ttest_indResult(statistic=-0.3535908643461798, pvalue=0.7289136186068217)

In [6]:
ind_Test.statistic

-0.3535908643461798

In [7]:
ind_Test.pvalue

0.7289136186068217

In [9]:
# Decision
alpha = 0.05
if ind_Test.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Fail to reject

In [ ]:
---------------------------------------------------------------------------------------------------------------------

In [12]:
stats.ttest_ind_from_stats(mean1=92.55, std1=2.39, nobs1= 8 , mean2=92.733, std2=2.98, nobs2=2.98)

Ttest_indResult(statistic=-0.10650035369186457, pvalue=0.9175266110944751)

In [16]:
indTest=stats.ttest_ind_from_stats(mean1=92.255, std1=2.39, nobs1= 8 , mean2=92.733, std2=2.98, nobs2=8)
indTest

Ttest_indResult(statistic=-0.353922390875553, pvalue=0.7286705530970293)

In [14]:
indTest = stats.ttest_ind_from_stats(mean1=92.255, std1=2.39, nobs1=8,
                           mean2=92.733, std2=2.98, nobs2=8)
indTest

Ttest_indResult(statistic=-0.353922390875553, pvalue=0.7286705530970293)

In [17]:
indTest.statistic

-0.353922390875553

In [18]:
indTest.pvalue

0.7286705530970293

In [19]:
# Decision
alpha = 0.05
if ind_Test.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Fail to reject

In [ ]:
-----------------------------------------------------------------------------------------------------------------

In [24]:
stats.ttest_ind_from_stats(mean1=10.67, std1=3.895, nobs1=500, 
                           mean2=7.83, std2=4.224, nobs2=400, alternative='greater')

Ttest_indResult(statistic=10.4676374161062, pvalue=1.4200116519875262e-24)

In [25]:
stats.ttest_ind_from_stats(mean1=10.67, std1=3.895, nobs1=5, 
                           mean2=7.83, std2=4.224, nobs2=4, alternative='greater')

Ttest_indResult(statistic=1.048112362171905, pvalue=0.16471063434733127)