In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
from pylab import rcParams
sns.set_style("darkgrid")
import json
import requests
from pandas.io.json import json_normalize


import warnings
warnings.filterwarnings("ignore")
warnings.warn("This will not show")

%matplotlib inline

#pd.set_option('display.max_columns', 150)
#pd.set_option('display.max_rows',100)
#pd.set_option('display.max_info_rows', 10)
#pd.set_option('display.max_colwidth', 100)
#pd.set_option('display.max_info_columns', 5000)
#pd.set_option('display.expand_frame_repr', True)
#pd.set_option('display.width', 10)

# 1.GENERAL INSIGHT

In [2]:
df = pd.read_json('scout_car.json', orient= "records", lines=True)
df.T

,0,1,2,3,4,5,6,7,8,9,...,15909,15910,15911,15912,15913,15914,15915,15916,15917,15918
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-sp...,...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,...,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,1.4 TDi Design S tronic,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,1.6 TDI Sport DSG *SHZ*Xenon*Navi*Bose*PDC*,Sportback 1.6 TDI S-TRONIC S-LINE*NAVI|XENON*,Sportback 1.4 TDI admired S tronic,SPB 1.6 TDI S-tronic Metal plus + Xeno,SPORTBACK TFSI ULTRA 95 S-TRONIC AMB.,...,Limited Blue dCi 200 EDC,TCe 225 EDC INITIALE PDC SHZ BOSE KLIMA,ELYSEE ENERGY dCi 160 EDC,Blue dCi 200CV EDC Executive 4Control,INITIALE Paris TCe 225 EDC GPF ACC EU6,Blue dCi 200CV EDC Executive 4Control,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Blue dCi 200 EDC Initiale Paris Leder LED Navi...,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX
body_type,Sedans,Sedans,Sedans,Sedans,Sedans,Sedans,Station wagon,Compact,Sedans,Sedans,...,Van,Van,Van,Van,Van,Van,Van,Van,Van,Van
price,15770,14500,14640,14500,16790,15090,16422,14480,16700,17990,...,39990,39980,39980,39950,39950,39950,39885,39875,39700,40999
vat,VAT deductible,Price negotiable,VAT deductible,None,None,None,VAT deductible,VAT deductible,None,None,...,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible
km,"56,013 km","80,000 km","83,450 km","73,000 km","16,200 km","63,668 km","62,111 km","14,986 km","57,000 km","16,103 km",...,"3,500 km","8,500 km",100 km,- km,"1,000 km",- km,"9,900 km",15 km,10 km,- km
registration,01/2016,03/2017,02/2016,08/2016,05/2016,02/2016,03/2016,02/2016,02/2016,06/2017,...,05/2019,02/2019,02/2019,-/-,04/2019,-/-,01/2019,03/2019,06/2019,01/2019
prev_owner,2 previous owners,None,1 previous owner,1 previous owner,1 previous owner,1 previous owner,1 previous owner,1 previous owner,1 previous owner,None,...,None,1 previous owner,1 previous owner,None,None,None,1 previous owner,1 previous owner,None,1 previous owner
kW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW,66 kW,66 kW,85 kW,85 kW,66 kW,85 kW,70 kW,...,147 kW,165 kW,118 kW,147 kW,165 kW,147 kW,165 kW,146 kW,147 kW,165 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]",...,"[, Demonstration, , Diesel (Particulate Filter)]","[, Demonstration, , Regular/Benzine E10 91]","[, Pre-registered, , Diesel (Particulate Filter)]","[, New, , Diesel (Particulate Filter)]","[, Demonstration, , Super 95]","[, New, , Diesel (Particulate Filter)]","[, Used, , Super 95 / Super Plus 98 (Particula...","[, Pre-registered, , Diesel]","[, Pre-registered, , Diesel]","[, Demonstration, , Super 95]"
Previous Owners,\n2\n,NaN,\n1\n,\n1\n,\n1\n,\n1\n,\n1\n,\n1\n,\n1\n,NaN,...,NaN,\n1\n,\n1\n,NaN,NaN,NaN,"[\n1\n, \n, 7.4 l/100 km (comb), \n, 9.2 l/100...","[\n1\n, \n139 g CO2/km (comb)\n]",NaN,\n1\n
Next Inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[\n02/2020\n, \n97 g CO2/km (comb)\n]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"[\n01/2022\n, \n168 g CO2/km (comb)\n]",NaN,NaN,NaN
Inspection new,"[\nYes\n, \nEuro 6\n]",NaN,NaN,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]",NaN,"[\nYes\n, \n98 g CO2/km (comb)\n]","[\nYes\n, \n97 g CO2/km (comb)\n]",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[\nYes\n, \nEuro 6d-TEMP\n]",NaN,"[\nYes\n, \n153 g CO2/km (comb)\n]"
Warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]",NaN,NaN,"[\n, \n, \nEuro 6\n]","[\n12 months\n, \nEuro 6\n]",\n3 months\n,...,\n48 months\n,NaN,NaN,\n24 months\n,NaN,\n24 months\n,"[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]",\n,NaN
Full Service,"[\n, \n]",NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \n4 (Green)\n]","[\n, \n, \n92 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]",NaN,NaN,...,NaN,"[\n, \n, \n153 g CO2/km (comb)\n]",NaN,NaN,NaN,NaN,NaN,"[\n, \n]",NaN,NaN
Non-smoking Vehicle,"[\n, \n]",NaN,NaN,"[\n, \n, \nEuro 6\n]","[\n, \n]","[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]",NaN,NaN,NaN,...,NaN,"[\n, \n, \nEuro 6\n]","[\n, \n, \n123 g CO2/km (comb)\n]",NaN,NaN,NaN,"[\n, \n, \n4 (Green)\n]","[\n, \n]",NaN,NaN
null,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
Make,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,...,\nRenault\n,\nRenault\n,\nRenault\n,\nRenault\n,\nRenault\n,\nRenault\n,\nRenault\n,\nRenault\n,\nRenault\n,\nRenault\n
Model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]",...,"[\n, Espace, \n]","[\n, Espace, \n]","[\n, Espace, \n]","[\n, Espace, \n]","[\n, Espace, \n]","[\n, Espace, \n]","[\n, Espace, \n]","[\n, Espace, \n]","[\n, Espace, \n]","[\n, Espace, \n]"
Offer Number,[\nLR-062483\n],NaN,[\nAM-95365\n],NaN,[\nC1626\n],[\nJV03654\n],[\n200-19\n],[\n18381A-Q2\n],[\n11540324\n],NaN,...,[\n1-15447\n],[\n1720LR8\n],[\nVB1_12468\n],[\n10988276\n],[\nNW9766\n],[\n10988301\n],[\n507370_3223\n],[\nEspace16\n],[\n2691331\n],[\nRe_30000008029\n]
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2017, \n]",...,"[\n, 2019, \n]","[\n, 2019, \n]","[\n, 2019, \n]",NaN,"[\n, 2019, \n]",NaN,"[\n, 2019, \n]","[\n, 2019, \n]","[\n, 2019, \n]","[\n, 2019, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]","[\n, Brown, \n]","[\n, Black, \n]","[\n, White, \n]","[\n, White, \n]","[\n, Red, \n]","[\n, Grey, \n]","[\n, White, \n]",...,"[\n, Black, \n]","[\n, Blue, \n]","[\n, White, \n]","[\n, Black, \n]","[\n, White, \n]","[\n, Grey, \n]","[\n, Grey, \n]","[\n, White, \n]","[\n, Grey, \n]","[\n, Grey, \n]"
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],NaN,...,[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],[\nMetallic\n],NaN,NaN,[\nMetallic\n]
Body Color Original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n],NaN,[\nMythosschwarz Metallic\n],NaN,[\nGletscherweiss\n],[\nMisanorot Perleffekt\n],[\nGrigio\n],[\nBlanc\n],...,[\nBlack-Pearl\n],[\nKosmos-Blau\n],[\nPerlmutt-Weiß Metallic (Weiß)\n],[\nNero\n],[\nperlmutt-weiss\n],[\nGrigio scuro\n],[\nStahl-Grau Metallic\n],[\narktis-weiß\n],[\nGrigio\n],[\nTitanium-Grau Metallic\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]",NaN,"[\nCloth, Black\n]","[\nPart leather, Black\n]","[\nPart leather, Black\n]","[\nCloth, Black\n]","[\nCloth, Grey\n]",NaN,...,NaN,"[\nFull leather, Other\n]","[\nFull leather, Grey\n]",NaN,"[\nFull leather, Brown\n]",NaN,[\nCloth\n],"[\nFull leather, Black\n]",[\nPart leather\n],"[\nFull leather, Brown\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Station wagon, \n]","[\n, Compact, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]",...,"[\n, Van, \n]","[\n, Van, \n]","[\n, Van, \n]","[\n, Van, \n]","[\n, Van, \n]","[\n, Van, \n]","[\n, Van, \n]","[\n, Van, \n]","[\n, Van, \n]","[\n, Van, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n4\n],[\n3\n],[\n5\n],[\n4\n],[\n4\n],[\n5\n],[\n5\n],[\n5\n],...,[\n5\n],[\n5\n],[\n5\n],[\n5\n],[\n5\n],[\n5\n],[\n5\n],[\n5\n],[\n5\n],[\n5\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n4\n],[\n4\n],[\n5\n],[\n5\n],[\n5\n],[\n5\n],[\n4\n],[\n4\n],...,[\n5\n],[\n5\n],[\n7\n],[\n5\n],[\n7\n],[\n5\n],[\n5\n],[\n7\n],[\n7\n],[\n5\n]
Model Code,[\n0588/BDF\n],[\n0588/BCY\n],NaN,NaN,[\n0588/BDF\n],NaN,NaN,[\n0588/BDF\n],NaN,NaN,...,NaN,[\n3333/BHJ\n],[\n3333/BDQ\n],NaN,NaN,NaN,[\n0000/000\n],NaN,NaN,[\n3333/BHJ\n]
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]",...,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]","[\n1,422 cc\n]","[\n1,422 cc\n]","[\n1,598 cc\n]","[\n1,598 cc\n]","[\n1,422 cc\n]","[\n1,598 cc\n]",[\n999 cc\n],...,"[\n1,997 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]","[\n1,997 cc\n]","[\n1,798 cc\n]","[\n1,997 cc\n]","[\n1,798 cc\n]","[\n1,997 cc\n]","[\n1,997 cc\n]","[\n1,798 cc\n]"
Cylinders,[\n3\n],[\n4\n],NaN,[\n3\n],[\n3\n],NaN,[\n4\n],NaN,[\n4\n],NaN,...,NaN,[\n4\n],[\n4\n],[\n4\n],[\n4\n],[\n4\n],[\n4\n],[\n4\n],[\n4\n],[\n4\n]
Weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN,"[\n1,195 kg\n]",NaN,NaN,NaN,NaN,"[\n1,275 kg\n]",NaN,...,"[\n1,779 kg\n]",NaN,"[\n1,734 kg\n]","[\n1,758 kg\n]",NaN,"[\n1,758 kg\n]","[\n1,708 kg\n]",NaN,"[\n1,758 kg\n]","[\n1,685 kg\n]"
Drive chain,[\nfront\n],[\nfront\n],[\nfront\n],NaN,[\nfront\n],NaN,[\nfront\n],[\nfront\n],[\nfront\n],NaN,...,NaN,[\nfront\n],NaN,[\nfront\n],[\nfront\n],[\nfront\n],[\nfront\n],[\nfront\n],[\nfront\n],[\n4WD\n]
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]",...,"[\n, Diesel (Particulate Filter), \n]","[\n, Regular/Benzine E10 91, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Super 95, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Super 95 / Super Plus 98 (Particulate Fil...","[\n, Diesel, \n]","[\n, Diesel, \n]","[\n, Super 95, \n]"
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...","[[3.5 l/100 km (comb)], [4.3 l/100 km (city)],...","[[3.7 l/100 km (comb)], [4.3 l/100 km (city)],...","[[3.7 l/100 km (comb)], [4.2 l/100 km (city)],...","[[3.7 l/100 km (comb)], [4.3 l/100 km (city)],...",NaN,...,NaN,"[[6 l/100 km (comb)], [8 l/100 km (city)], [5 ...","[[4.7 l/100 km (comb)], [5.1 l/100 km (city)],...","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...","[[6.8 l/100 km (comb)], [8.7 l/100 km (city)],...","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...","[\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (ci...","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...","[[6.8 l/100 km (comb)], [8.7 l/100 km (city)],..."
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n109 g CO2/km (comb)\n],[\n92 g CO2/km (comb)\n],[\n98 g CO2/km (comb)\n],[\n97 g CO2/km (comb)\n],[\n97 g CO2/km (comb)\n],NaN,...,"[[], [], []]",[\n153 g CO2/km (comb)\n],[\n123 g CO2/km (comb)\n],[\n139 g CO2/km (comb)\n],[\n153 g CO2/km (comb)\n],[\n139 g CO2/km (comb)\n],[\n168 g CO2/km (comb)\n],[\n139 g CO2/km (comb)\n],[\n139 g CO2/km (comb)\n],[\n153 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],NaN,...,NaN,[\nEuro 6\n],[\nEuro 6\n],NaN,[\nEuro 6\n],NaN,NaN,[\nEuro 6d-TEMP\n],[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ...","[Air suspension, Armrest, Auxiliary heating, E...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Armrest, Electrical side mi...","[Air conditioning, Power windows]",NaN,...,"[Air conditioning, Automatic climate control, ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Automatic climate control, ..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, CD player, Hands-free equipment, O...","[CD player, MP3, Radio]",[Radio],NaN,...,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Digital radio, Hands-free equipmen...","[Bluetooth, Digital radio, Hands-free equipmen...","[Bluetooth, Digital radio, Hands-free equipmen...","[Bluetooth, Digital radio, Hands-free equipmen...","[Bluetooth, Digital radio, Hands-free equipmen...","[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Digital radio, Radio, USB]",[USB]
\nExtras\n,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]","[Alloy wheels, Sport seats, Voice Control]","[Alloy wheels, Sport package, Sport suspension...","[Alloy wheels, Sport package, Sport seats, Spo...","[Alloy wheels, Sport package, Sport seats, Spo...",[Alloy wheels],[Alloy wheels],NaN,...,"[Alloy wheels, Touch screen]",[Alloy wheels],"[Alloy wheels, Touch screen, Voice Control]","[Alloy wheels, Touch screen]","[Alloy wheels, Catalytic Converter, Sport susp...","[Alloy wheels, Touch screen]","[Alloy wheels, Touch screen, Voice Control]",[Alloy wheels],"[Alloy wheels, Touch screen]","[Alloy wheels, Touch screen]"
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light...","[ABS, Alarm system, Central door lock with rem...","[ABS, Central door lock, Driver-side airbag, E...","[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Driver-side airbag, E...",NaN,...,"[ABS, Blind spot monitor, Central door lock, D...","[ABS, Adaptive headlights, Central door lock, ...","[ABS, Adaptive Cruise Control, Central door lo...","[ABS, Central door lock, Central door lock wit...","[ABS, Adaptive Cruise Control, Blind spot moni...","[ABS, Central door lock, Central door lock wit...","[ABS, Adaptive Cruise Control, Blind spot moni...","[ABS, Adaptive Cruise Control, Blind spot moni...","[ABS, Blind spot monitor, Driver-side airbag, ...","[ABS, Blind spot monitor, Daytime running ligh..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",[\nSichern Sie sich diesen Audi A1 1.6 TDI Spo...,"[\nREDUZIERT !!!, MwSt. ausweisbar, Nettopreis...","[\n, Ausstattungspakete:, Ausstattungspaket: ...",[\nAuto in ottime condizioni. Unico proprietar...,"[\nClim automatique,Ecran multifonction couleu...",...,"[\nHallo!, Das Beratungsteam der Fa. Sonnleitn...","[\n, Warum ist dieses Auto das Richtige für mi...","[\n, Komfort:, , abgedunkelte Scheiben im Fon...",[\nVettura visionabile nella sede in Via Roma ...,"[\nFahrzeug-Nr.: NW9766., Ausstattungslinie/ -...",[\nVettura visionabile nella sede in Via Roma ...,"[\nDach: Panorama-Glas-Schiebedach, Lackierung...","[\n, Getriebe:, Automatik, Technik:, Bordcom...","[\nDEK:[2691331], Renault Espace Blue dCi 200C...","[\n, Sicherheit Airbags:, , Seitenairbag, , ..."
Emission Label,NaN,[\n4 (Green)\n],[\n4 (Green)\n],NaN,NaN,[\n4 (Green)\n],NaN,NaN,NaN,NaN,...,NaN,[\n4 (Green)\n],[\n4 (Green)\n],NaN,[\n4 (Green)\n],NaN,NaN,NaN,NaN,[\n4 (Green)\n]
Gears,NaN,[\n7\n],NaN,[\n6\n],NaN,NaN,NaN,[\n7\n],[\n7\n],[\n7\n],...,[\n7\n],[\n7\n],NaN,[\n6\n],NaN,[\n6\n],[\n7\n],[\n6\n],[\n6\n],NaN
Country version,NaN,NaN,NaN,NaN,[\nGermany\n],[\nGermany\n],[\nGermany\n],NaN,NaN,NaN,...,[\nAustria\n],NaN,[\nGermany\n],NaN,NaN,NaN,[\nGermany\n],[\nAustria\n],NaN,[\nGermany\n]
Electricity consumption,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"[[], [], []]",NaN,NaN,NaN
Availability,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,\nin 5 days from ordering\n,\nin 120 days from ordering\n,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Available from,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape

(15919, 54)

In [801]:
df.size

859626

In [802]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [803]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [804]:
df= df.rename(columns={"\nComfort & Convenience\n" : "Comfort_Convenience", 
                       "\nEntertainment & Media\n" : "Entertainment_Media",
                       "\nExtras\n" : 'Extras', 
                       "\nSafety & Security\n" : 'Safety_Security'})

In [805]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40  Comfort_Convenience            14999 non-null  object
 41  Entertainment_Media            14545 non-null  object
 42  Extras                         12957 non-null  object
 43  Safety_Security                14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [806]:
# detect list columns
df.applymap(lambda x: isinstance(x, list)).all()

url                              False
make_model                       False
short_description                False
body_type                        False
price                            False
vat                              False
km                               False
registration                     False
prev_owner                       False
kW                               False
hp                               False
Type                             False
Previous Owners                  False
Next Inspection                  False
Inspection new                   False
Warranty                         False
Full Service                     False
Non-smoking Vehicle              False
null                              True
Make                             False
Model                             True
Offer Number                     False
First Registration               False
Body Color                       False
Paint Type                       False
Body Color Original              False
Upholstery                       False
Body                             False
Nr. of Doors                     False
Nr. of Seats                     False
Model Code                       False
Gearing Type                      True
Displacement                     False
Cylinders                        False
Weight                           False
Drive chain                      False
Fuel                              True
Consumption                      False
CO2 Emission                     False
Emission Class                   False
Comfort_Convenience              False
Entertainment_Media              False
Extras                           False
Safety_Security                  False
description                       True
Emission Label                   False
Gears                            False
Country version                  False
Electricity consumption          False
Last Service Date                False
Other Fuel Types                 False
Availability                     False
Last Timing Belt Service Date    False
Available from                   False
dtype: bool

In [807]:
# detect dict columns
df.applymap(lambda x: isinstance(x, dict)).all().value_counts()

False    54
dtype: int64

In [808]:
# Detect missing values.Return a boolean same-sized object indicating if the values are NA.
df.isnull().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
Comfort_Convenience                920
Entertainment_Media               1374
Extras                            2962
Safety_Security                    982
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
dtype: int64

In [809]:
df.isnull().sum() / len(df)*100

url                                0.000000
make_model                         0.000000
short_description                  0.288963
body_type                          0.376908
price                              0.000000
vat                               28.349771
km                                 0.000000
registration                       0.000000
prev_owner                        42.892141
kW                               100.000000
hp                                 0.000000
Type                               0.012564
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Warranty                          34.047365
Full Service                      48.395000
Non-smoking Vehicle               54.915510
null                               0.000000
Make                               0.000000
Model                              0.000000
Offer Number                      19.944720
First Registration                10.032037
Body Color                         3.750236
Paint Type                        36.258559
Body Color Original               23.613292
Upholstery                        23.368302
Body                               0.376908
Nr. of Doors                       1.331742
Nr. of Seats                       6.137320
Model Code                        68.729192
Gearing Type                       0.000000
Displacement                       3.115774
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Fuel                               0.000000
Consumption                       11.973114
CO2 Emission                      11.357497
Emission Class                    18.977323
Comfort_Convenience                5.779257
Entertainment_Media                8.631195
Extras                            18.606696
Safety_Security                    6.168729
description                        0.000000
Emission Label                    74.967021
Gears                             29.599849
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [810]:
def perc_bigger_ninety(df, limit): 
    missing = df.isnull().sum()*100/df.shape[0]  
    return missing.loc[lambda x : x >= limit]

def show_nans(df, limit):
    missing = df.isnull().sum()*100/df.shape[0]
    return missing.loc[lambda x : x >= limit]

In [811]:
perc_bigger_ninety(df,90)

kW                               100.000000
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [812]:
df.drop(perc_bigger_ninety(df,90).index, axis=1, inplace=True)

In [813]:
drop_columns = show_nans(df,90).index

In [814]:
df.drop(drop_columns, axis = 1, inplace = True)

In [815]:
df.drop("null", axis = 1, inplace = True)

In [816]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 46 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   url                  15919 non-null  object
 1   make_model           15919 non-null  object
 2   short_description    15873 non-null  object
 3   body_type            15859 non-null  object
 4   price                15919 non-null  int64
 5   vat                  11406 non-null  object
 6   km                   15919 non-null  object
 7   registration         15919 non-null  object
 8   prev_owner           9091 non-null   object
 9   hp                   15919 non-null  object
 10  Type                 15917 non-null  object
 11  Previous Owners      9279 non-null   object
 12  Next Inspection      3535 non-null   object
 13  Inspection new       3932 non-null   object
 14  Warranty             10499 non-null  object
 15  Full Service         8215 non-null   object
 16  Non-smoking Vehicle  7177 non-null   object
 17  Make                 15919 non-null  object
 18  Model                15919 non-null  object
 19  Offer Number         12744 non-null  object
 20  First Registration   14322 non-null  object
 21  Body Color           15322 non-null  object
 22  Paint Type           10147 non-null  object
 23  Body Color Original  12160 non-null  object
 24  Upholstery           12199 non-null  object
 25  Body                 15859 non-null  object
 26  Nr. of Doors         15707 non-null  object
 27  Nr. of Seats         14942 non-null  object
 28  Model Code           4978 non-null   object
 29  Gearing Type         15919 non-null  object
 30  Displacement         15423 non-null  object
 31  Cylinders            10239 non-null  object
 32  Weight               8945 non-null   object
 33  Drive chain          9061 non-null   object
 34  Fuel                 15919 non-null  object
 35  Consumption          14013 non-null  object
 36  CO2 Emission         14111 non-null  object
 37  Emission Class       12898 non-null  object
 38  Comfort_Convenience  14999 non-null  object
 39  Entertainment_Media  14545 non-null  object
 40  Extras               12957 non-null  object
 41  Safety_Security      14937 non-null  object
 42  description          15919 non-null  object
 43  Emission Label       3985 non-null   object
 44  Gears                11207 non-null  object
 45  Country version      7586 non-null   object
dtypes: int64(1), object(45)
memory usage: 5.6+ MB

In [817]:
null_columns=df.columns[df.isnull().any()]  # HANGİ SÜTUNLARDA NULL DĞERELERİNİN OLDUĞUNU GÖSTERİYOR.
null_columns

Index(['short_description', 'body_type', 'vat', 'prev_owner', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'Offer Number',
       'First Registration', 'Body Color', 'Paint Type', 'Body Color Original',
       'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code',
       'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Consumption',
       'CO2 Emission', 'Emission Class', 'Comfort_Convenience',
       'Entertainment_Media', 'Extras', 'Safety_Security', 'Emission Label',
       'Gears', 'Country version'],
      dtype='object')

In [818]:
df[df.isnull().any(axis=1)][null_columns].head()

,short_description,body_type,vat,prev_owner,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,...,Consumption,CO2 Emission,Emission Class,Comfort_Convenience,Entertainment_Media,Extras,Safety_Security,Emission Label,Gears,Country version
0,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,VAT deductible,2 previous owners,"[, Used, , Diesel (Particulate Filter)]",\n2\n,"[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]",...,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...",NaN,NaN,NaN
1,1.8 TFSI sport,Sedans,Price negotiable,None,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,...,"[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\n4 (Green)\n],[\n7\n],NaN
2,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,VAT deductible,1 previous owner,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,...,"[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running light...",[\n4 (Green)\n],NaN,NaN
3,1.4 TDi Design S tronic,Sedans,None,1 previous owner,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",...,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, E...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with rem...",NaN,[\n6\n],NaN
4,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,None,1 previous owner,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]",...,"[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport package, Sport suspension...","[ABS, Central door lock, Driver-side airbag, E...",NaN,NaN,[\nGermany\n]

In [819]:
df[df.isnull().all(axis=1)][null_columns].head()

Empty DataFrame
Columns: [short_description, body_type, vat, prev_owner, Type, Previous Owners, Next Inspection, Inspection new, Warranty, Full Service, Non-smoking Vehicle, Offer Number, First Registration, Body Color, Paint Type, Body Color Original, Upholstery, Body, Nr. of Doors, Nr. of Seats, Model Code, Displacement, Cylinders, Weight, Drive chain, Consumption, CO2 Emission, Emission Class, Comfort_Convenience, Entertainment_Media, Extras, Safety_Security, Emission Label, Gears, Country version]
Index: []

[0 rows x 35 columns]

In [820]:
 df.isnull()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,hp,...,CO2 Emission,Emission Class,Comfort_Convenience,Entertainment_Media,Extras,Safety_Security,description,Emission Label,Gears,Country version
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
1,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
4,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,False,False,False,False,False,False,False,False,True,False,...,False,True,False,False,False,False,False,True,False,True
15915,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,False,False
15916,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
15917,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,True,False,True
15918,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

# 2. searchıng each rows

## url

In [821]:
df["url"].value_counts(dropna=False)

https://www.autoscout24.com//offers/renault-espace-diesel-grey-72d1fe73-5bd2-4093-b418-c82356c66d91                                                      1
https://www.autoscout24.com//offers/audi-a1-spb-1-4-tdi-mmi-xenon-cruise-ctrl-16-diesel-black-84a0ff09-2ff1-4690-9e07-3bdee0c7dc8e                       1
https://www.autoscout24.com//offers/opel-insignia-grand-sport-1-6-diesel-edition-shz-lkrhz-pdc-vo-hi-diesel-grey-0c1f279f-dd92-4399-b37d-b3b90ea8b3b9    1
https://www.autoscout24.com//offers/audi-a3-limousine-design-led-scheinwerfer-17z-navi-diesel-30de4ff4-c270-4e1a-858e-3c19a074861e                       1
https://www.autoscout24.com//offers/audi-a1-sportback-30-tfsi-mmi-plus-navi-presense-gasoline-blue-5eb623c5-c6aa-4dec-866d-4e5fcfcf2d27                  1
                                                                                                                                                        ..
https://www.autoscout24.com//offers/renault-clio-4-nouvelle-1-5-dci-90-auto-intens-diesel-d1fbe508-3b7b-46bb-b923-726ec0fbaec6                           1
https://www.autoscout24.com//offers/audi-a3-spb-1-6-tdi-116-cv-s-tronic-aut-diesel-black-04e93a6f-1816-4345-a558-0cb280aafde0                            1
https://www.autoscout24.com//offers/audi-a3-limousine-1-0-tfsi-sport-s-tronic-navi-wechsel-umw-gasoline-grey-769f6254-95dd-4b85-a688-67a26a9262ac        1
https://www.autoscout24.com//offers/audi-a1-sportback-adrenalin-1-6-tdi-116cv-diesel-red-1713a814-bd5f-449a-b5ef-eafd93172d86                            1
https://www.autoscout24.com//offers/audi-a3-spb-1-6-tdi-116-cv-sport-diesel-grey-a3754289-df95-1458-e053-e250040a2fbd                                    1
Name: url, Length: 15919, dtype: int64

In [822]:
df.url.isnull().sum()

0

In [823]:
df["url"].map(type).value_counts()

<class 'str'>    15919
Name: url, dtype: int64

In [824]:
df["url"].isnull().head()

0    False
1    False
2    False
3    False
4    False
Name: url, dtype: bool

In [825]:
df.drop("url", axis = 1, inplace = True)

## make_model-Make- Model

# MAKE_MODEL

In [826]:
df["make_model"].value_counts(dropna=False)

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [827]:
df["make_model"].map(type).value_counts(dropna=False)

<class 'str'>    15919
Name: make_model, dtype: int64

In [828]:
# value_counts percentage view

df['make_model'].value_counts(normalize=True, dropna=False).to_frame().head()

               make_model
Audi A3          0.194547
Audi A1          0.164206
Opel Insignia    0.163201
Opel Astra       0.158678
Opel Corsa       0.139393

In [829]:
df["make_model"].isnull().sum()

0

In [830]:
df.duplicated("make_model").sum()

15910

In [831]:
df.duplicated("make_model").sum()  # 9 rakam nerede?

15910

In [832]:
df.duplicated("make_model").value_counts()  # 9 rakam nerede?

True     15910
False        9
dtype: int64

In [833]:
df[~df.duplicated("make_model")]   ## ??

,make_model,short_description,body_type,price,vat,km,registration,prev_owner,hp,Type,...,CO2 Emission,Emission Class,Comfort_Convenience,Entertainment_Media,Extras,Safety_Security,description,Emission Label,Gears,Country version
0,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,66 kW,"[, Used, , Diesel (Particulate Filter)]",...,[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...","[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN
2614,Audi A2,"30 TDI Navi, Lane assist, Sitzheizung, Einpark...",Off-Road,28200,VAT deductible,"26,166 km",10/2018,1 previous owner,85 kW,"[, Employee's car, , Diesel (Particulate Filter)]",...,NaN,[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...",[Alloy wheels],"[ABS, Adaptive Cruise Control, Central door lo...","[\n, Technik & Sicherheit:, 7-Gang-Automatikge...",[\n4 (Green)\n],NaN,[\nGermany\n]
2615,Audi A3,"1,5 TFSI BENZINA TURBO 155 CV CABRIO",Convertible,10893,VAT deductible,"19,800 km",06/2018,None,110 kW,"[, Used, , Gasoline]",...,[\n116 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Digital radio, Hands-fr...","[Alloy wheels, Shift paddles]","[ABS, Adaptive Cruise Control, Blind spot moni...","[\n, Attenzione il prezzo che vedete e' indica...",NaN,[\n7\n],[\nItaly\n]
5712,Opel Astra,Edition K Sports Tourer Automatik Navi 1 Hand,Station wagon,6000,None,"260,000 km",05/2016,1 previous owner,100 kW,"[, Used, , Diesel]",...,[\n119 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Roof rack, Touch screen, Traile...","[ABS, Central door lock, Central door lock wit...","[\n((((Motor springt nicht an)))), Scheckheft ...",[\n4 (Green)\n],[\n6\n],[\nGermany\n]
8238,Opel Corsa,1.4 90CV EASYTRONIC 5 p. E6 Benz. Automatica,Sedans,7700,None,"100,000 km",03/2016,1 previous owner,66 kW,"[, Used, , Gasoline]",...,[\n110 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, CD player, Digital radio, Hands-fr...","[Alloy wheels, Catalytic Converter, Handicappe...","[ABS, Adaptive headlights, Alarm system, Centr...","[\n-------OPEL CORSA EASYTRONIC 5 PORTE, - TAR...",NaN,[\n6\n],[\nItaly\n]
10457,Opel Insignia,ST 1.6 CDTI Navi PDC Shz,Station wagon,8980,VAT deductible,"174,564 km",05/2016,1 previous owner,100 kW,"[, Used, , Diesel (Particulate Filter)]",...,NaN,"[[], [], []]","[Air conditioning, Automatic climate control, ...","[CD player, On-board computer]","[Roof rack, Sport seats]","[ABS, Central door lock, Daytime running light...","[\n, Nr. 1215 Standort: 27404 Bockel , , , ...",[\n4 (Green)\n],NaN,NaN
13055,Renault Clio,Experience ENERGY dCi 90 EDC Euro 6 TOP!,Compact,7650,VAT deductible,"161,556 km",04/2016,1 previous owner,66 kW,"[, Used, , Diesel (Particulate Filter)]",...,[\n92 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[Bluetooth, On-board computer, Radio, USB]","[Alloy wheels, Touch screen, Voice Control]","[ABS, Central door lock, Daytime running light...","[\n, Zustandsbeschreibung, :, Der Clio hat die...",NaN,NaN,NaN
14894,Renault Duster,Deluxe - EXPORT OUT EU TROPICAL VERSION - EXPO...,Off-Road,13250,None,- km,-/-,None,- kW,"[, New, , Gasoline]",...,[\n150 g CO2/km (comb)\n],[\nEuro 4\n],"[Air conditioning, Automatic climate control]","[Bluetooth, CD player, Radio, USB]",NaN,"[ABS, Driver-side airbag, Power steering]","[\n- EXPORT OUT EU TROPICAL VERSION, Prix T1 (...",NaN,NaN,NaN
14928,Renault Espace,Zen Energy dCi 160 Twin Turbo EDC,None,17500,None,"141,000 km",05/2016,None,118 kW,"[, Used, , Diesel]",...,[\n120 g CO2/km (comb)\n],NaN,[Air conditioning],NaN,NaN,"[ABS, Central door lock, Daytime running light...","[\nMás de 2.000 coches en la web de Flexicar ,...",NaN,NaN,NaN

# MAKE

In [834]:
df["Make"].value_counts(dropna=False)

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [835]:
df["Make"].isnull().sum()

0

In [836]:
df["Make"].dtype

dtype('O')

In [837]:
df.Make= df.Make.str.strip()

In [838]:
df.Make.value_counts(dropna=False)

Opel       7343
Audi       5712
Renault    2864
Name: Make, dtype: int64

In [839]:
df.drop("Make", axis=1, inplace=True)  # It is given general car models. It isn't so detail. So, drop this column.

# MODEL

In [840]:
df["Model"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: Model, dtype: int64

In [841]:
df["Model"].map(type).value_counts()

<class 'list'>    15919
Name: Model, dtype: int64

In [842]:
df.Model = df.Model.str[1]

In [843]:
df.Model.value_counts(dropna=False)

A3          3097
A1          2614
Insignia    2598
Astra       2526
Corsa       2219
Clio        1839
Espace       991
Duster        34
A2             1
Name: Model, dtype: int64

In [844]:
df.drop("Model", axis=1, inplace=True)

## short_description -description

# SHORT DESCRIPTION

In [845]:
df['short_description'].value_counts(dropna=False)

SPB 1.6 TDI 116 CV S tronic Sport                     64
NaN                                                   46
1.4 66kW (90CV) Selective                             40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH                 38
SPB 30 TFSI S tronic Admired                          35
                                                      ..
K 1.4 Turbo Edition*NAVIGATION*PDC HI*KLIMA*BLUET.     1
1.4 Aut. Color Edition Kamera SHZ 17Zoll               1
III (2) BERLINE 1.6 TDI 110 BUSINESS LINE              1
1.6 TDI CLEAN DIESEL ATTRACTION *MMI-NAVI*             1
2.0 ST INNOVATION AHK+el.HECKKLAPPE+NAV                1
Name: short_description, Length: 10002, dtype: int64

In [846]:
df.drop("short_description", axis = 1, inplace = True)

DESCRIPTION

In [847]:
df['description'].value_counts(dropna=False).to_frame()

                                                    description
[]                                                          636
[\n, \n]                                                     30
[\nSichern Sie sich diesen Opel Astra K 1.4 SID...           27
[\n, Fahrzeugbeschreibung,  Sichern Sie sich di...           27
[\n, Fahrzeugbeschreibung,  Sichern Sie sich di...           27
...                                                         ...
[\n, Ausstattungspakete:,  Ablagepaket, Assiste...            1
[\n, Highlights: ,  Herstellereigene Garantie 2...            1
[\n, Fahrzeugnummer für Anfragen: LA027224, KL,...            1
[\n, Sitzbezug / Polsterung: Velours / Leder, A...            1
[\nEuro6, Rückfahrkamera, Klimaautomatik 2-fach...            1

[12874 rows x 1 columns]

In [850]:
df.drop("description", axis = 1, inplace = True)

KeyError: "['description'] not found in axis"

## 2.4. body_type

In [851]:
df['body_type'].value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [852]:
df['body_type'].map(type).value_counts()

<class 'str'>         15859
<class 'NoneType'>       60
Name: body_type, dtype: int64

In [853]:
df.body_type.isnull().sum()

60

In [854]:
# value_counts percentage view

df['body_type'].value_counts(normalize=True, dropna=False).to_frame()

               body_type
Sedans          0.496451
Station wagon   0.223192
Compact         0.198065
Van             0.049187
Other           0.018217
Transporter     0.005528
NaN             0.003769
Off-Road        0.003518
Coupe           0.001570
Convertible     0.000503

# Body

In [855]:
df.Body.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
NaN                          60
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64

In [856]:
df.Body = df.Body.str[1]

In [857]:
df.Body.value_counts(dropna = False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: Body, dtype: int64

In [858]:
df.drop("Body", axis=1, inplace=True)

## Price

In [859]:
df['price'].value_counts(dropna=False)

14990    154
15990    151
10990    139
15900    106
17990    102
        ...
31940      1
15540      1
21649      1
27790      1
34815      1
Name: price, Length: 2956, dtype: int64

In [860]:
df["price"].map(type).value_counts()

<class 'int'>    15919
Name: price, dtype: int64

In [861]:
df.price.isnull().sum()

0

In [862]:
# value_counts percentage view
df['price'].value_counts(normalize=True, dropna=False)

14990    0.009674
15990    0.009486
10990    0.008732
15900    0.006659
17990    0.006407
           ...
31940    0.000063
15540    0.000063
21649    0.000063
27790    0.000063
34815    0.000063
Name: price, Length: 2956, dtype: float64

In [863]:
df.price.describe()

count    15919.000000
mean     18019.896727
std       7386.169409
min         13.000000
25%      12850.000000
50%      16900.000000
75%      21900.000000
max      74600.000000
Name: price, dtype: float64

## Vat

In [864]:
df.vat.value_counts(dropna=False)

VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

In [865]:
df["vat"].map(type).value_counts()

<class 'str'>         11406
<class 'NoneType'>     4513
Name: vat, dtype: int64

In [866]:
df.vat.isnull().sum()

4513

In [867]:
df.vat.isnull().sum()/len(df.vat)*100

28.349770714240847

In [868]:
df[df["vat"].isnull()]

,make_model,body_type,price,vat,km,registration,prev_owner,hp,Type,Previous Owners,...,Consumption,CO2 Emission,Emission Class,Comfort_Convenience,Entertainment_Media,Extras,Safety_Security,Emission Label,Gears,Country version
3,Audi A1,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,...,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, E...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with rem...",NaN,[\n6\n],NaN
4,Audi A1,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,...,"[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport package, Sport suspension...","[ABS, Central door lock, Driver-side airbag, E...",NaN,NaN,[\nGermany\n]
5,Audi A1,Sedans,15090,None,"63,668 km",02/2016,1 previous owner,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,...,"[[3.5 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n92 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport package, Sport seats, Spo...","[ABS, Central door lock, Daytime running light...",[\n4 (Green)\n],NaN,[\nGermany\n]
8,Audi A1,Sedans,16700,None,"57,000 km",02/2016,1 previous owner,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,...,"[[3.7 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n97 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Power windows]",[Radio],[Alloy wheels],"[ABS, Central door lock, Driver-side airbag, E...",NaN,[\n7\n],NaN
9,Audi A1,Sedans,17990,None,"16,103 km",06/2017,None,70 kW,"[, Used, , Gasoline]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[\n7\n],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15883,Renault Espace,Van,47950,None,57 km,05/2019,None,147 kW,"[, Demonstration, , Diesel]",NaN,...,NaN,"[[], [], []]",NaN,"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, MP3, On-boar...","[Alloy wheels, Touch screen, Voice Control]","[ABS, Adaptive Cruise Control, Adaptive headli...",NaN,[\n7\n],[\nAustria\n]
15887,Renault Espace,Station wagon,42680,None,"4,000 km",02/2019,1 previous owner,165 kW,"[, Demonstration, , Super 95]",\n1\n,...,"[[6.8 l/100 km (comb)], [8.7 l/100 km (city)],...",[\n153 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Hands-free equipmen...","[Alloy wheels, Touch screen, Voice Control]","[ABS, Blind spot monitor, Central door lock, D...",[\n4 (Green)\n],[\n7\n],NaN
15892,Renault Espace,Van,41800,None,2 km,-/-,None,118 kW,"[, New, , Diesel (Particulate Filter)]",NaN,...,"[[4.7 l/100 km (comb)], [5.1 l/100 km (city)],...",[\n123 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[On-board computer, Radio, USB]",[Alloy wheels],"[ABS, Adaptive headlights, Alarm system, Centr...",NaN,[\n6\n],NaN
15903,Renault Espace,Van,39990,None,10 km,01/2019,None,168 kW,"[, Used, , Gasoline]",NaN,...,NaN,NaN,NaN,"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...",[Alloy wheels],"[ABS, Central door lock, Daytime running light...",NaN,NaN,NaN
15908,Renault Espace,Van,39990,None,10 km,02/2019,None,167 kW,"[, Used, , Gasoline]",NaN,...,NaN,NaN,NaN,"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...",[Alloy wheels],"[ABS, Central door lock, Daytime running light...",NaN,NaN,NaN

## Km

In [869]:
df.km.value_counts(dropna=False)  #- km         1024 ADET VAR

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
78,935 km       1
991 km          1
28,124 km       1
49,170 km       1
7,077 km        1
Name: km, Length: 6690, dtype: int64

In [870]:
df.km.str.replace(',','').str.extract('(\d{1,8})')

           0
0      56013
1      80000
2      83450
3      73000
4      16200
...      ...
15914    NaN
15915   9900
15916     15
15917     10
15918    NaN

[15919 rows x 1 columns]

In [871]:
df["km"] = df.km.str.replace(',','').str.extract('(\d{1,8})')[0].astype('float')

In [872]:
df.km.value_counts(dropna=False)

10.0        1045
NaN         1024
1.0          367
5.0          170
50.0         148
            ...
160542.0       1
20719.0        1
91910.0        1
39860.0        1
57889.0        1
Name: km, Length: 6690, dtype: int64

## Registration- First Registration

In [873]:
df['registration'].value_counts(dropna=False) # -/-        1597 ADET VAR.

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
06/2018     532
04/2016     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2016     141
09/2018     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
12/2019       1
08/2019       1
11/2019       1
Name: registration, dtype: int64

In [874]:
df["First Registration"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
NaN               1597
Name: First Registration, dtype: int64

In [875]:
df['First Registration'] = df['First Registration'].str[1].astype('float')

In [876]:
df["First Registration"].value_counts(dropna=False)

2018.0    4522
2016.0    3674
2017.0    3273
2019.0    2853
NaN       1597
Name: First Registration, dtype: int64

In [877]:
df['age'] = 2019 - df['First Registration']

In [878]:
df.age.value_counts(dropna=False)

1.0    4522
3.0    3674
2.0    3273
0.0    2853
NaN    1597
Name: age, dtype: int64

In [879]:
df.drop(["registration", "First Registration"], axis=1, inplace=True)

# prev_owner- Previous Owners

# PREV_OWNER

In [880]:
df['prev_owner'].value_counts(dropna=False) #NaN 6828 ADET VAR

1 previous owner     8294
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [881]:
df['Previous Owners'].value_counts(dropna=False) # NaN    6640 adet var

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

\n1\n                                                                                    8101
NaN                                                                                      6640
\n2\n                                                                                     766
\n0\n                                                                                     163
\n3\n                                                                                      17
                                                                                         ...
[\n0\n, \n117 g CO2/km (comb)\n]                                                            1
[\n0\n, \n187 g CO2/km (comb)\n]                                                            1
[\n1\n, \n84 g CO2/km (comb)\n]                                                             1
[\n1\n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]       1
[\n1\n, \n102 g CO2/km (comb)\n]                                                            1
Name: Previous Owners, Length: 103, dtype: int64

In [882]:
[item[0] if type(item) == list else item for item in df["Previous Owners"]]

['\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n0\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n2\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 nan,
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n0\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n2\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n2\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n0\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n2\n',
 '\n2\n',
 nan,
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n0\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n3\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n0\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n0\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 nan,
 '\n2\n',
 nan,
 nan,
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 '\n0\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n4\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n0\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 ...]

In [883]:
df["Previous_Owners"] = [item[0] if type(item) == list else item for item in df["Previous Owners"]]
df["Previous_Owners"]

0        \n2\n
1          NaN
2        \n1\n
3        \n1\n
4        \n1\n
         ...
15914      NaN
15915    \n1\n
15916    \n1\n
15917      NaN
15918    \n1\n
Name: Previous_Owners, Length: 15919, dtype: object

In [884]:
df["Previous_Owners1"] = df["Previous Owners"].apply(lambda item: item[0] if type(item) == list else item)
df["Previous_Owners1"]

0        \n2\n
1          NaN
2        \n1\n
3        \n1\n
4        \n1\n
         ...
15914      NaN
15915    \n1\n
15916    \n1\n
15917      NaN
15918    \n1\n
Name: Previous_Owners1, Length: 15919, dtype: object

In [885]:
df["Previous_Owners"] = df["Previous_Owners"].str.strip("\n").astype('float')

In [886]:
df["Previous_Owners"].value_counts(dropna=False)

1.0    8294
NaN    6640
2.0     778
0.0     188
3.0      17
4.0       2
Name: Previous_Owners, dtype: int64

In [887]:
df.drop(["prev_owner", "Previous Owners", "Previous_Owners1"], axis=1, inplace=True)

## Hp

In [888]:
df['hp'].value_counts(dropna=False)

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
          ...
84 kW        1
4 kW         1
44 kW        1
123 kW       1
9 kW         1
Name: hp, Length: 81, dtype: int64

In [889]:
df["hp"].map(type).value_counts(dropna=False)

<class 'str'>    15919
Name: hp, dtype: int64

In [890]:
df['hp'].isnull().sum()

0

In [891]:
df["hp_kW"] = df.hp.str.extract('(\d{1,4})')[0].astype('float')

In [892]:
df.drop('hp', axis=1, inplace=True)

## Type

In [893]:
df["Type"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[, Used, , Diesel (Particulate Filter)]                                                                                 3475
[, Used, , Diesel]                                                                                                      2516
[, Used, , Gasoline]                                                                                                    2367
[, Used, , Super 95]                                                                                                    1818
[, Pre-registered, , Super 95]                                                                                           500
                                                                                                                        ...
[, Pre-registered, , CNG]                                                                                                  1
[, Used, , Others (Particulate Filter)]                                                                                    1
[, New, , Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]       1
[, Pre-registered, , Super E10 95 (Particulate Filter)]                                                                    1
[, Employee's car, , Super E10 95 (Particulate Filter)]                                                                    1
Name: Type, Length: 170, dtype: int64

In [894]:
df.Type.isnull().sum()

2

In [895]:
df["Type"].map(type).value_counts()

<class 'list'>     15917
<class 'float'>        2
Name: Type, dtype: int64

In [896]:
df.Type= df.Type.str[1]

In [897]:
df.Type.value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: Type, dtype: int64

## Next Inspection - Inspection new

In [898]:
df["Next Inspection"].value_counts(dropna=False).to_frame()

                                        Next Inspection
NaN                                               12384
\n04/2022\n                                          62
\n03/2021\n                                          38
\n03/2022\n                                          36
\n06/2021\n                                          34
...                                                 ...
[\n02/2021\n, \n95 g CO2/km (comb)\n]                 1
[\n04/2022\n, \n151 g CO2/km (comb)\n]                1
[\n05/2020\n, \n110 g CO2/km (comb)\n]                1
[\n09/2020\n, \n115 g CO2/km (comb)\n]                1
[\n12/2020\n, \n110 g CO2/km (comb)\n]                1

[1400 rows x 1 columns]

In [899]:
df["Inspection new"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                            11987
[\nYes\n, \nEuro 6\n]                                                                            523
\nYes\n                                                                                          362
[\nYes\n, \n102 g CO2/km (comb)\n]                                                               174
[\nYes\n, \n4 (Green)\n]                                                                         166
                                                                                               ...
[\nYes\n, \n, 4.4 l/100 km (comb), \n, 5.4 l/100 km (city), \n, 5 l/100 km (country), \n]          1
[\nYes\n, \n194 g CO2/km (comb)\n]                                                                 1
[\nYes\n, \n88 g CO2/km (comb)\n]                                                                  1
[\nYes\n, \n, 6 l/100 km (comb), \n, 7.5 l/100 km (city), \n, 5.2 l/100 km (country), \n]          1
[\nYes\n, \n, 6.2 l/100 km (comb), \n, 7.6 l/100 km (city), \n, 5.4 l/100 km (country), \n]        1
Name: Inspection new, Length: 203, dtype: int64

In [900]:
df["Inspection_new"] = [item[0] if type(item) == list else item for item in df["Inspection new"]]
df["Inspection_new"] = df["Inspection_new"].str.strip("\n")

In [901]:
df["Inspection_new"].value_counts(dropna=False)

NaN    11987
Yes     3932
Name: Inspection_new, dtype: int64

In [902]:
df.drop(["Next Inspection", "Inspection new"], axis=1, inplace=True)

## Warranty

In [903]:
df.Warranty.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                5420
[\n, \n, \nEuro 6\n]                                                                               1868
\n12 months\n                                                                                      1177
\n                                                                                                  979
\n24 months\n                                                                                       566
                                                                                                   ...
[\n6 months\n, \n99 g CO2/km (comb)\n]                                                                1
[\n24 months\n, \n88 g CO2/km (comb)\n]                                                               1
[\n48 months\n, \n98 g CO2/km (comb)\n]                                                               1
[\n14 months\n, \n135 g CO2/km (comb)\n]                                                              1
[\n60 months\n, \n, 6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 5.2 l/100 km (country), \n]       1
Name: Warranty, Length: 516, dtype: int64

In [904]:
df["Warranty"] = df.Warranty.apply(lambda x : x[0] if type(x)==list else x)
df["Warranty"] = df.Warranty.str.strip("\n").str.extract('(\d{1,2})')[0].astype("float")

In [905]:
df.Warranty.value_counts(dropna=False)

NaN     11066
12.0     2594
24.0     1118
60.0      401
36.0      279
48.0      149
6.0       125
72.0       59
3.0        33
23.0       11
18.0       10
20.0        7
25.0        6
2.0         5
50.0        4
26.0        4
16.0        4
19.0        3
1.0         3
4.0         3
13.0        3
34.0        3
45.0        2
14.0        2
17.0        2
11.0        2
46.0        2
28.0        2
21.0        2
22.0        2
9.0         2
30.0        1
33.0        1
56.0        1
40.0        1
7.0         1
15.0        1
8.0         1
10.0        1
49.0        1
47.0        1
65.0        1
Name: Warranty, dtype: int64

In [906]:
df['Warranty'].value_counts(normalize=True, dropna=False).to_frame()

      Warranty
NaN   0.695144
12.0  0.162950
24.0  0.070231
60.0  0.025190
36.0  0.017526
48.0  0.009360
6.0   0.007852
72.0  0.003706
3.0   0.002073
23.0  0.000691
18.0  0.000628
20.0  0.000440
25.0  0.000377
2.0   0.000314
50.0  0.000251
26.0  0.000251
16.0  0.000251
19.0  0.000188
1.0   0.000188
4.0   0.000188
13.0  0.000188
34.0  0.000188
45.0  0.000126
14.0  0.000126
17.0  0.000126
11.0  0.000126
46.0  0.000126
28.0  0.000126
21.0  0.000126
22.0  0.000126
9.0   0.000126
30.0  0.000063
33.0  0.000063
56.0  0.000063
40.0  0.000063
7.0   0.000063
15.0  0.000063
8.0   0.000063
10.0  0.000063
49.0  0.000063
47.0  0.000063
65.0  0.000063

In [907]:
df["Warranty"].map(type).value_counts(dropna=False)

<class 'float'>    15919
Name: Warranty, dtype: int64

## Full Service

In [908]:
df["Full Service"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                           7704
[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
                                                                                              ...
[\n, \n, \n, 5.4 l/100 km (comb), \n, 7 l/100 km (city), \n, 4.5 l/100 km (country), \n]         1
[\n, \n, \n, 4.7 l/100 km (comb), \n, 5.4 l/100 km (city), \n, 4.2 l/100 km (country), \n]       1
[\n, \n, \n164 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 5.4 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.2 l/100 km (country), \n]       1
[\n, \n, \n, 6.6 l/100 km (comb), \n, 8.3 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
Name: Full Service, Length: 123, dtype: int64

In [909]:
df["Full Service"].map(type).value_counts()

<class 'list'>     7932
<class 'float'>    7704
<class 'str'>       283
Name: Full Service, dtype: int64

In [910]:
df["Full Service"].isnull().sum()/len(df["Full Service"])*100

48.394999685909916

In [911]:
df.drop("Full Service", axis = 1, inplace=True)

## Non-smoking Vehicle

In [912]:
df["Non-smoking Vehicle"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                  8742
[\n, \n]                             3647
[\n, \n, \n4 (Green)\n]              1240
[\n, \n, \nEuro 6\n]                 1127
[\n, \n, \nEuro 6d-TEMP\n]            345
                                     ...
[\n, \n, \n172 g CO2/km (comb)\n]       1
[\n, \n, \n150 g CO2/km (comb)\n]       1
[\n, \n, \n154 g CO2/km (comb)\n]       1
[\n, \n, \n91 g CO2/km (comb)\n]        1
[\n, \n, \n144 g CO2/km (comb)\n]       1
Name: Non-smoking Vehicle, Length: 95, dtype: int64

In [913]:
df["Non-smoking Vehicle"].map(type).value_counts()

<class 'float'>    8742
<class 'list'>     7107
<class 'str'>        70
Name: Non-smoking Vehicle, dtype: int64

In [914]:
df["Non-smoking Vehicle"].isnull().sum()

8742

In [915]:
df['Non-smoking Vehicle'].isnull().sum() / len(df['Non-smoking Vehicle'])*100

54.91550976820152

In [916]:
df.drop(["Non-smoking Vehicle"], axis = 1, inplace=True)

# Offer Number

In [917]:
df["Offer Number"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                3175
[\nXT61649\n]        27
[\nHM53619\n]        27
[\nTP62881\n]        27
[\nJV03654\n]        27
                   ...
[\n9277941\n]         1
[\n19155-1\n]         1
[\n3124254\n]         1
[\nJ1109546\n]        1
[\n040394-MO\n]       1
Name: Offer Number, Length: 11441, dtype: int64

In [918]:
df['Offer Number'] = df['Offer Number'].apply(lambda item:item[0] if type(item)  == list else item)

In [919]:
df['Offer Number'].str.strip().value_counts(dropna=False)

NaN           3175
XJ38068         27
AK13780         27
LT67679         27
UN89904         27
              ...
-56891506        1
2282256          1
11669252         1
JB 245 A X       1
11668651         1
Name: Offer Number, Length: 11441, dtype: int64

In [920]:
df["Offer Number"].isnull().sum()

3175

In [921]:
df['Offer Number'].map(type).value_counts()

<class 'str'>      12744
<class 'float'>     3175
Name: Offer Number, dtype: int64

In [922]:
df['Offer Number'].str.strip().value_counts(normalize=True, dropna=False).to_frame()

            Offer Number
NaN             0.199447
XJ38068         0.001696
AK13780         0.001696
LT67679         0.001696
UN89904         0.001696
...                  ...
-56891506       0.000063
2282256         0.000063
11669252        0.000063
JB 245 A X      0.000063
11668651        0.000063

[11441 rows x 1 columns]

In [923]:
df.drop("Offer Number", axis=1, inplace=True)

# Body Color

In [924]:
df["Body Color"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
NaN                  597
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: Body Color, dtype: int64

In [925]:
df['Body Color'].str[1]

0        Black
1          Red
2        Black
3        Brown
4        Black
         ...
15914     Grey
15915     Grey
15916    White
15917     Grey
15918     Grey
Name: Body Color, Length: 15919, dtype: object

In [926]:
df['Body Color'].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
NaN                  597
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: Body Color, dtype: int64

In [927]:
df['Body Color'].map(type).value_counts()

<class 'list'>     15322
<class 'float'>      597
Name: Body Color, dtype: int64

In [928]:
df["Body Color"].isnull().sum()

597

In [929]:
df['Body Color'].str[1].value_counts(normalize=True, dropna=False).to_frame()

        Body Color
Black     0.235253
Grey      0.220177
White     0.213958
Silver    0.103461
Blue      0.089893
Red       0.060117
NaN       0.037502
Brown     0.018154
Green     0.009674
Beige     0.006784
Yellow    0.003204
Violet    0.001131
Bronze    0.000377
Orange    0.000188
Gold      0.000126

# Body Color Original

In [930]:
df["Body Color Original"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                     3759
[\nOnyx Schwarz\n]                       338
[\nBianco\n]                             282
[\nMythosschwarz Metallic\n]             238
[\nBrillantschwarz\n]                    216
                                        ...
[\nBlu cosmo metallizzato\n]               1
[\nBlac Ivoire D16\n]                      1
[\nkarbonschwarz met\n]                    1
[\nBelugabraun Metallic (bruin me\n]       1
[\nSATIN STEEL\n]                          1
Name: Body Color Original, Length: 1928, dtype: int64

In [931]:
df['Body Color Original'].map(type).value_counts()

<class 'list'>     12160
<class 'float'>     3759
Name: Body Color Original, dtype: int64

In [932]:
df['Body Color Original'] = df['Body Color Original'].apply(lambda item:item[0] if type(item)  == list else item)

In [933]:
df['Body Color Original'].str.strip().value_counts(dropna=False)

NaN                       3759
Onyx Schwarz               338
Bianco                     282
Mythosschwarz Metallic     238
Brillantschwarz            216
                          ...
gris nano                    1
Licht Cortinawit             1
Sohobraun Metallic           1
Hellelfenbein                1
NOIR MYTHOS                  1
Name: Body Color Original, Length: 1928, dtype: int64

In [934]:
df['Body Color Original'].str.strip().value_counts(normalize=True, dropna=False).to_frame()

                        Body Color Original
NaN                                0.236133
Onyx Schwarz                       0.021232
Bianco                             0.017715
Mythosschwarz Metallic             0.014951
Brillantschwarz                    0.013569
...                                     ...
gris nano                          0.000063
Licht Cortinawit                   0.000063
Sohobraun Metallic                 0.000063
Hellelfenbein                      0.000063
NOIR MYTHOS                        0.000063

[1928 rows x 1 columns]

In [935]:
df["Body Color Original"].isnull().sum()/len(df["Body Color Original"])*100

23.613292292229414

In [936]:

df.drop("Body Color Original", axis=1, inplace=True)

# Paint Type

In [937]:
df["Paint Type"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nMetallic\n]       9794
NaN                  5772
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: Paint Type, dtype: int64

In [938]:
df['Paint Type'] = df['Paint Type'].apply(lambda item:item[0] if type(item)  == list else item)

In [939]:
df['Paint Type'].str.strip().value_counts(dropna=False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: Paint Type, dtype: int64

In [940]:
df["Paint Type"].isnull().sum()/len(df["Paint Type"])*100

36.25855895470821

In [941]:
df["Paint Type"].isnull().sum()

5772

#  Upholstery

In [942]:
df["Upholstery"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5821
NaN                          3720
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nFull leather, Brown\n]     116
[\nPart leather, Grey\n]      116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nFull leather, Beige\n]      36
[\nVelour, Black\n]            36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nCloth, Blue\n]              12
[\nBrown\n]                    12
[\nCloth, White\n]              8
[\nVelour, Grey\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nPart leather, Red\n]         3
[\nBeige\n]                     3
[\nalcantara\n]                 2
[\nFull leather, Blue\n]        2
[\nBlue\n]                      2
[\nPart leather, Beige\n]       2
[\nalcantara, Other\n]          2
[\nPart leather, White\n]       2
[\nWhite\n]                     2
[\nFull leather, Red\n]         1
[\nOther, Brown\n]              1
[\nFull leather, White\n]       1
[\nCloth, Orange\n]             1
Name: Upholstery, dtype: int64

In [943]:
df["Upholstery"] = [item[0] if type(item) == list else item for item in df.Upholstery]

In [944]:
df["Upholstery"] = df.Upholstery.str.strip("\n").str.split(", ")

In [945]:
df["Upholstery"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Cloth, Black]           5821
NaN                      3720
[Part leather, Black]    1121
[Cloth]                  1005
[Cloth, Grey]             891
[Cloth, Other]            639
[Full leather, Black]     575
[Black]                   491
[Grey]                    273
[Other, Other]            182
[Part leather]            140
[Full leather]            139
[Full leather, Brown]     116
[Part leather, Grey]      116
[Other, Black]            110
[Full leather, Other]      72
[Full leather, Grey]       67
[Part leather, Other]      65
[Other]                    56
[Part leather, Brown]      50
[alcantara, Black]         47
[Full leather, Beige]      36
[Velour, Black]            36
[Cloth, Brown]             28
[Velour]                   16
[Other, Grey]              15
[Cloth, Beige]             13
[Cloth, Blue]              12
[Brown]                    12
[Cloth, White]              8
[Velour, Grey]              8
[alcantara, Grey]           6
[Cloth, Red]                5
[Other, Yellow]             4
[Part leather, Red]         3
[Beige]                     3
[alcantara]                 2
[Full leather, Blue]        2
[Blue]                      2
[Part leather, Beige]       2
[alcantara, Other]          2
[Part leather, White]       2
[White]                     2
[Full leather, Red]         1
[Other, Brown]              1
[Full leather, White]       1
[Cloth, Orange]             1
Name: Upholstery, dtype: int64

In [946]:
u_type = ["Cloth", 'Part leather', 'Full leather', 'Velour', 'alcantara']
df["Upholstery_type"] = df["Upholstery"].apply(lambda x : x[0] if type(x) == list and x[0] in u_type else np.nan)

In [947]:
df["Upholstery_type"].value_counts(dropna=False)

Cloth           8423
NaN             4871
Part leather    1499
Full leather    1009
Velour            60
alcantara         57
Name: Upholstery_type, dtype: int64

In [948]:
color = ['Black', 'Grey', 'Brown', 'Beige', 'White', 'Blue', 'Red', 'Yellow', 'Orange']

def finder(x):
    if type(x) == list and len(x) == 2:
        return x[1]
    elif type(x) == list and x[0] in color:
        return x[0]
    else:
        return np.nan
    
df['Upholstery_color'] = df.Upholstery.apply(finder)

In [949]:
df["Upholstery_color"].value_counts(dropna=False)

Black     8201
NaN       5078
Grey      1376
Other      960
Brown      207
Beige       54
Blue        16
White       13
Red          9
Yellow       4
Orange       1
Name: Upholstery_color, dtype: int64

In [950]:
df["Nr. of Doors"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
NaN          212
[\n7\n]        1
[\n1\n]        1
Name: Nr. of Doors, dtype: int64

In [951]:
df.drop("Upholstery", axis=1, inplace=True)

# Nr. of Doors

In [952]:
df["Nr. of Doors"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
NaN          212
[\n7\n]        1
[\n1\n]        1
Name: Nr. of Doors, dtype: int64

In [953]:
df['Nr. of Doors'] = df['Nr. of Doors'].str[0].str.strip('\n').astype('float')

In [954]:
df["Nr. of Doors"].value_counts(dropna=False)

5.0    11575
4.0     3079
3.0      832
2.0      219
NaN      212
7.0        1
1.0        1
Name: Nr. of Doors, dtype: int64

# Nr. of Seats

In [955]:
df["Nr. of Seats"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    13336
[\n4\n]     1125
NaN          977
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: Nr. of Seats, dtype: int64

In [956]:
df['Nr_of_Seats'] = df['Nr. of Seats'].str[0].str.strip('\n').astype('float')

In [957]:
df["Nr_of_Seats"].value_counts(dropna=False)

5.0    13336
4.0     1125
NaN      977
7.0      362
2.0      116
6.0        2
3.0        1
Name: Nr_of_Seats, dtype: int64

In [958]:
df.drop("Nr. of Seats", axis=1, inplace=True)

# Model Code

In [959]:
df["Model Code"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN               10941
[\n0035/BCB\n]      268
[\n0588/BNO\n]      245
[\n0588/BDB\n]      206
[\n0588/BHX\n]      188
                  ...
[\n0035/BHX\n]        1
[\n0588/AVR\n]        1
[\n0035/ASN\n]        1
[\n1844/AEG\n]        1
[\n3333/BBL\n]        1
Name: Model Code, Length: 233, dtype: int64

In [960]:
df['Model Code'] = df['Model Code'].apply(lambda item:item[0] if type(item)  == list else item)

In [961]:
df['Model Code'].str.strip().value_counts(dropna=False)

NaN         10941
0035/BCB      268
0588/BNO      245
0588/BDB      206
0588/BHX      188
            ...
1844/AEM        1
0035/BBT        1
0035/AND        1
0035/BGI        1
1844/AEN        1
Name: Model Code, Length: 233, dtype: int64

In [962]:
df["Model Code"].isnull().sum()

10941

In [963]:
df['Model Code'].map(type).value_counts()

<class 'float'>    10941
<class 'str'>       4978
Name: Model Code, dtype: int64

In [964]:
df.drop("Model Code", axis=1, inplace=True)

#  Gearing Type

In [965]:
df["Gearing Type"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: Gearing Type, dtype: int64

In [966]:
df["Gearing Type"].str[1].value_counts(dropna=False)

Manual            8153
Automatic         7297
Semi-automatic     469
Name: Gearing Type, dtype: int64

In [967]:
df['Gearing Type'].map(type).value_counts()

<class 'list'>    15919
Name: Gearing Type, dtype: int64

In [968]:
df["Gearing Type"].isnull().sum()

0

In [969]:
df['Gearing Type'].str[1].value_counts(normalize=True, dropna=False).to_frame()

                Gearing Type
Manual              0.512155
Automatic           0.458383
Semi-automatic      0.029462

# Displacement

In [970]:
df["Displacement"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n1,598 cc\n]    4761
[\n999 cc\n]      2438
[\n1,398 cc\n]    1314
[\n1,399 cc\n]     749
[\n1,229 cc\n]     677
                  ...
[\n1,800 cc\n]       1
[\n1,686 cc\n]       1
[\n1,369 cc\n]       1
[\n140 cc\n]         1
[\n1,584 cc\n]       1
Name: Displacement, Length: 78, dtype: int64

In [971]:
df["Displacement"] = df.Displacement.str[0].str.strip('\n').str.replace(',','').str.extract('(\d+)')[0].astype("float")

In [972]:
df["Displacement_cc"] = df["Displacement"]  # column name with cc

In [973]:
df.Displacement_cc.value_counts(dropna=False)

1598.0    4761
999.0     2438
1398.0    1314
1399.0     749
1229.0     677
          ...
1368.0       1
1390.0       1
54.0         1
1856.0       1
1533.0       1
Name: Displacement_cc, Length: 78, dtype: int64

In [974]:
df["Displacement"].isnull().sum()

496

In [975]:
df['Displacement'].map(type).value_counts()

<class 'float'>    15919
Name: Displacement, dtype: int64

In [976]:
df.drop("Displacement", axis=1, inplace=True)

# Cylinders

In [977]:
df["Cylinders"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4\n]    8105
NaN        5680
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n2\n]       2
[\n8\n]       2
[\n1\n]       1
Name: Cylinders, dtype: int64

In [978]:
df["Cylinders"]=df["Cylinders"].str[0].str.strip('\n').astype("float")

In [979]:
df.Cylinders.value_counts(dropna=False)

4.0    8105
NaN    5680
3.0    2104
5.0      22
6.0       3
8.0       2
2.0       2
1.0       1
Name: Cylinders, dtype: int64

In [980]:
df["Cylinders"].isnull().sum()

5680

In [981]:
df['Cylinders'].map(type).value_counts()

<class 'float'>    15919
Name: Cylinders, dtype: int64

# Weight

In [982]:
df["Weight"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN               6974
[\n1,163 kg\n]     574
[\n1,360 kg\n]     356
[\n1,165 kg\n]     301
[\n1,335 kg\n]     242
                  ...
[\n1,761 kg\n]       1
[\n1,331 kg\n]       1
[\n1,974 kg\n]       1
[\n1,711 kg\n]       1
[\n1,686 kg\n]       1
Name: Weight, Length: 435, dtype: int64

In [983]:
df["Weight_kg"] = df.Weight.str[0].str.strip('\n').str.replace(',','').str.extract('(\d+)')[0].astype('float')

In [984]:
df.Weight_kg.value_counts(dropna=False)

NaN       6974
1163.0     574
1360.0     356
1165.0     301
1335.0     242
          ...
1161.0       1
1254.0       1
1379.0       1
1575.0       1
1159.0       1
Name: Weight_kg, Length: 435, dtype: int64

In [985]:
df["Weight"].isnull().sum()

6974

In [986]:
df['Weight'].map(type).value_counts()

<class 'list'>     8945
<class 'float'>    6974
Name: Weight, dtype: int64

In [987]:
df.drop("Weight", axis=1, inplace=True)

# Drive chain

In [988]:
df["Drive chain"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nfront\n]    8886
NaN            6858
[\n4WD\n]       171
[\nrear\n]        4
Name: Drive chain, dtype: int64

In [989]:
df['Drive_chain'] = df['Drive chain'].str[0].str.strip('\n')

In [990]:
df.Drive_chain.value_counts(dropna=False)

front    8886
NaN      6858
4WD       171
rear        4
Name: Drive_chain, dtype: int64

In [991]:
df["Drive chain"].isnull().sum()

6858

In [992]:
df['Drive chain'].map(type).value_counts()

<class 'list'>     9061
<class 'float'>    6858
Name: Drive chain, dtype: int64

In [993]:
df.drop("Drive chain", axis=1, inplace=True)

# Fuel

In [994]:
df.Fuel.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Diesel (Particulate Filter), \n]                                                                                  4315
[\n, Super 95, \n]                                                                                                     3338
[\n, Gasoline, \n]                                                                                                     3175
[\n, Diesel, \n]                                                                                                       2984
[\n, Super 95 / Regular/Benzine 91, \n]                                                                                 424
                                                                                                                       ...
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95, \n]       1
[\n, Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98, \n]       1
[\n, Regular/Benzine 91 / Super 95 / Super E10 95 / Regular/Benzine E10 91, \n]                                           1
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98, \n]                                                                   1
[\n, Super 95 / Super E10 95 / Super Plus 98, \n]                                                                         1
Name: Fuel, Length: 77, dtype: int64

In [995]:
df["Fuel"] = df.Fuel.str[1].str.split("/").str[0].str.strip()

In [996]:
df['Fuel'].value_counts(dropna=False)

Diesel (Particulate Filter)          4315
Super 95                             4100
Gasoline                             3175
Diesel                               2984
Regular                               503
Super E10 95                          402
Super 95 (Particulate Filter)         268
Gasoline (Particulate Filter)          77
CNG                                    33
LPG                                    16
Super Plus 98                          11
Liquid petroleum gas (LPG)             10
Super E10 95 (Particulate Filter)       7
Electric                                5
Others                                  5
CNG (Particulate Filter)                3
Super Plus E10 98                       2
Domestic gas H                          1
Biogas                                  1
Others (Particulate Filter)             1
Name: Fuel, dtype: int64

In [997]:
df["Fuel"] = df.Fuel.str.split("(").str[0].str.strip()

In [998]:
df["Fuel"].value_counts(dropna=False)

Diesel                  7299
Super 95                4368
Gasoline                3252
Regular                  503
Super E10 95             409
CNG                       36
LPG                       16
Super Plus 98             11
Liquid petroleum gas      10
Others                     6
Electric                   5
Super Plus E10 98          2
Domestic gas H             1
Biogas                     1
Name: Fuel, dtype: int64

In [999]:
benzine = ["Gasoline", "Super 95","Regular","Super E10 95","Super Plus 98","Super Plus E10 98", "Others"]
lpg = ["LPG","Liquid petroleum gas", "CNG", "Biogas", "Domestic gas H"]
def fueltype(x):
    if x in benzine:
        return "Benzine"
    elif x in lpg:
        return "LPG/CNG"
    else:
        return x
df["Fuel"] = df.Fuel.apply(fueltype)

In [1000]:
df.Fuel.value_counts(dropna=False)

Benzine     8551
Diesel      7299
LPG/CNG       64
Electric       5
Name: Fuel, dtype: int64

In [1001]:
df["Fuel"].isnull().sum()

0

# Consumption

In [1002]:
df["Consumption"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                   1906
[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]               304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                 276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]               257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]               253
                                                                                      ...
[[3.1 l/100 km (comb)], [], [3.5 l/100 km (country)]]                                    1
[[5.2 l/100 km (comb)], [6 l/100 km (city)], [4.8 l/100 km (country)]]                   1
[[5.3 l/100 km (comb)], [6 l/100 km (city)], [5 l/100 km (country)]]                     1
[\n, 6.5 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.5 l/100 km (country), \n]       1
[[50 l/100 km (comb)], [64 l/100 km (city)], [42 l/100 km (country)]]                    1
Name: Consumption, Length: 882, dtype: int64

In [1003]:
def parser1(x):
    if type(x) == float:
        return np.nan
    elif type(x[0]) == list:
        if x[0] != []:
            return x[0][0]
        else:
            return np.nan
    else:
        return x[1]

def parser2(x):
    if type(x) == float:
        return np.nan
    elif type(x[0]) == list:
        if x[1] != []:
            return x[1][0]
        else:
            return np.nan
    elif x[3].endswith(')'):
        return x[3]
    else:
        return np.nan

def parser3(x):
    if type(x) == float:
        return np.nan
    elif type(x[0]) == list:
        if x[2] != []:
            return x[2][0]
        else:
            return np.nan
    elif type(x[0]) != list and x[3].endswith(')'):
        return x[5]
    else:
        return np.nan

In [1004]:
df['Cons_Comb'] = df.Consumption.apply(parser1).str.extract('(\d{1,2}.\d|\d{1,3})')[0].astype("float")
df['Cons_City'] = df.Consumption.apply(parser2).str.extract('(\d{1,2}.\d|\d{1,3})')[0].astype("float")
df['Cons_Country'] = df.Consumption.apply(parser3).str.extract('(\d{1,2}.\d|\d{1,3})')[0].astype("float")

In [1005]:
df["Cons_Comb"].value_counts(dropna=False).head()

NaN    2033
5.4     770
3.9     733
4.0     713
5.1     657
Name: Cons_Comb, dtype: int64

In [1006]:
df.drop("Consumption", axis = 1, inplace=True)

# CO2 Emission

In [1007]:
df["CO2 Emission"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                             1808
[\n120 g CO2/km (comb)\n]        740
[[], [], []]                     628
[\n99 g CO2/km (comb)\n]         545
[\n97 g CO2/km (comb)\n]         537
                                ...
[\n990 g CO2/km (comb)\n]          1
[\n51 g CO2/km (comb)\n]           1
[\n14,457 g CO2/km (comb)\n]       1
[\n193 g CO2/km (comb)\n]          1
[\n253 g CO2/km (comb)\n]          1
Name: CO2 Emission, Length: 124, dtype: int64

In [1008]:
df["CO2_Emission"] = [item[0] if type(item) == list else item for item in df["CO2 Emission"]]
df["CO2_Emission"] = df["CO2 Emission"].str[0].str.strip().str.strip(" g CO2/km (comb)").str.replace(",", ".").astype("float")

In [1009]:
df.CO2_Emission.value_counts(dropna=False)

NaN      2436
120.0     740
99.0      545
97.0      537
104.0     501
         ...
165.0       1
45.0        1
53.0        1
160.0       1
171.0       1
Name: CO2_Emission, Length: 121, dtype: int64

In [1010]:
df.CO2_Emission.value_counts(normalize=True,  dropna=False)

NaN      0.153025
120.0    0.046485
99.0     0.034236
97.0     0.033733
104.0    0.031472
           ...
165.0    0.000063
45.0     0.000063
53.0     0.000063
160.0    0.000063
171.0    0.000063
Name: CO2_Emission, Length: 121, dtype: float64

In [1011]:
df['CO2 Emission'].map(type).value_counts()

<class 'list'>     14111
<class 'float'>     1808
Name: CO2 Emission, dtype: int64

In [1012]:
df["CO2 Emission"].isnull().sum()

1808

In [1013]:
df.drop("CO2 Emission", axis=1, inplace=True)  # drop old column

# Emission Class

In [1014]:
df["Emission Class"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nEuro 6\n]          10139
NaN                    3021
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: Emission Class, dtype: int64

In [1015]:
df["Emission_Class"] = df["Emission Class"].str[0].str.strip()

In [1016]:
df["Emission_Class"].value_counts(dropna=False)

Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: Emission_Class, dtype: int64

In [1017]:
df.replace({"Emission_Class" : {"Euro 6d-TEMP":"Euro 6", "Euro 6c":"Euro 6", "Euro 6d":"Euro 6"}}, regex = True, inplace = True)

In [1018]:
df["Emission_Class"].value_counts(dropna=False)

Euro 6    12173
NaN        3628
Euro 5       78
Euro 4       40
Name: Emission_Class, dtype: int64

In [1019]:
df['Emission Class'].map(type).value_counts()

<class 'list'>     12898
<class 'float'>     3021
Name: Emission Class, dtype: int64

In [1020]:
df["Emission Class"].isnull().sum()

3021

In [1021]:
df["Emission Class"].isnull().sum()/df["Emission Class"].shape[0]*100

18.97732269614926

In [1022]:
df.drop("Emission Class", axis=1, inplace=True) # drop the old column

# Emission Label

In [1023]:
df["Emission Label"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                     11934
[\n4 (Green)\n]          3553
[\n1 (No sticker)\n]      381
[[], [], []]               40
[\n5 (Blue)\n]              8
[\n3 (Yellow)\n]            2
[\n2 (Red)\n]               1
Name: Emission Label, dtype: int64

In [1024]:
df.drop("Emission Label", axis=1, inplace=True)

# Gears

In [1025]:
df["Gears"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n6\n]     5822
NaN         4712
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n4\n]        2
[\n3\n]        2
[\n1\n]        2
[\n50\n]       1
[\n2\n]        1
Name: Gears, dtype: int64

In [1026]:
df["Gears"]=df["Gears"].str[0].str.strip()

In [1027]:
df["Gears"].value_counts(dropna=False)

6      5822
NaN    4712
5      3239
7      1908
8       224
9         6
1         2
3         2
4         2
50        1
2         1
Name: Gears, dtype: int64

# Country version

In [1028]:
df["Country version"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                     8333
[\nGermany\n]           4502
[\nItaly\n]             1038
[\nEuropean Union\n]     507
[\nNetherlands\n]        464
[\nSpain\n]              325
[\nBelgium\n]            314
[\nAustria\n]            208
[\nCzech Republic\n]      52
[\nPoland\n]              49
[\nFrance\n]              38
[\nDenmark\n]             33
[\nHungary\n]             28
[\nJapan\n]                8
[\nSlovakia\n]             4
[\nCroatia\n]              4
[\nSweden\n]               3
[\nBulgaria\n]             2
[\nRomania\n]              2
[\nEgypt\n]                1
[\nSerbia\n]               1
[\nLuxembourg\n]           1
[\nSwitzerland\n]          1
[\nSlovenia\n]             1
Name: Country version, dtype: int64

In [1029]:
df.drop("Country version", axis=1, inplace=True) # origin country not need drop it

# Comfort_Convenience

In [1030]:
df["Comfort_Convenience"].value_counts(dropna=False).head()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                                                                                                                                                                                                                                                                                     920
[Air conditioning, Electrical side mirrors, Hill Holder, Power windows]                                                                                                                                                                                                                                                                                                 216
[Air conditioning, Electrical side mirrors, Power windows]                                                                                                                                                                                                                                                                                                              134
[Air conditioning, Power windows]                                                                                                                                                                                                                                                                                                                                       130
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]    105
Name: Comfort_Convenience, dtype: int64

In [1031]:
df["Comfort_Convenience"] = [",".join(item) if type(item) == list else item for item in df["Comfort_Convenience"]]

In [1032]:
df["Comfort_Convenience"].value_counts(dropna=False).head()

NaN                                                                                                                                                                                                                                                                                                                                                   920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                    216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                        130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system    105
Name: Comfort_Convenience, dtype: int64

# Entertainment_Media

In [1033]:
df["Entertainment_Media"].value_counts(dropna=False).head()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                 1374
[Bluetooth, Hands-free equipment, On-board computer, Radio, USB]                    1282
[Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, USB]                982
[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB]     783
[On-board computer, Radio]                                                           487
Name: Entertainment_Media, dtype: int64

In [1034]:
df["Entertainment_Media"] = [",".join(item) if type(item) == list else item for item in df["Entertainment_Media"]]

In [1035]:
df["Entertainment_Media"].value_counts(dropna=False).head()

NaN                                                                         1374
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                  1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB               982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB     783
On-board computer,Radio                                                      487
Name: Entertainment_Media, dtype: int64

# Extras

In [1036]:
df["Extras"].value_counts(dropna=False).head()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Alloy wheels]                                 3245
NaN                                            2962
[Alloy wheels, Touch screen]                    697
[Alloy wheels, Voice Control]                   577
[Alloy wheels, Touch screen, Voice Control]     541
Name: Extras, dtype: int64

In [1037]:
df["Extras"] = [",".join(item) if type(item) == list else item for item in df["Extras"]]

In [1038]:
df["Extras"].value_counts(dropna=False).head()

Alloy wheels                               3245
NaN                                        2962
Alloy wheels,Touch screen                   697
Alloy wheels,Voice Control                  577
Alloy wheels,Touch screen,Voice Control     541
Name: Extras, dtype: int64

# Safety_Security

In [1039]:
df["Safety_Security"].value_counts(dropna=False).head()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                                                                                                                                                                                       982
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                538
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                            480
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                          275
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]    272
Name: Safety_Security, dtype: int64

In [1040]:
df["Safety_Security"] = [",".join(item) if type(item) == list else item for item in df["Safety_Security"]]

In [1041]:
df["Safety_Security"].value_counts(dropna=False).head()

NaN                                                                                                                                                                                                                                                        982
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                               538
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                          480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                         275
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control    272
Name: Safety_Security, dtype: int64

In [1042]:
df.shape

(15919, 33)

In [1043]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   make_model           15919 non-null  object
 1   body_type            15859 non-null  object
 2   price                15919 non-null  int64
 3   vat                  11406 non-null  object
 4   km                   14895 non-null  float64
 5   Type                 15917 non-null  object
 6   Warranty             4853 non-null   float64
 7   Body Color           15322 non-null  object
 8   Paint Type           10147 non-null  object
 9   Nr. of Doors         15707 non-null  float64
 10  Gearing Type         15919 non-null  object
 11  Cylinders            10239 non-null  float64
 12  Fuel                 15919 non-null  object
 13  Comfort_Convenience  14999 non-null  object
 14  Entertainment_Media  14545 non-null  object
 15  Extras               12957 non-null  object
 16  Safety_Security      14937 non-null  object
 17  Gears                11207 non-null  object
 18  age                  14322 non-null  float64
 19  Previous_Owners      9279 non-null   float64
 20  hp_kW                15831 non-null  float64
 21  Inspection_new       3932 non-null   object
 22  Upholstery_type      11048 non-null  object
 23  Upholstery_color     10841 non-null  object
 24  Nr_of_Seats          14942 non-null  float64
 25  Displacement_cc      15423 non-null  float64
 26  Weight_kg            8945 non-null   float64
 27  Drive_chain          9061 non-null   object
 28  Cons_Comb            13886 non-null  float64
 29  Cons_City            13483 non-null  float64
 30  Cons_Country         13543 non-null  float64
 31  CO2_Emission         13483 non-null  float64
 32  Emission_Class       12291 non-null  object
dtypes: float64(14), int64(1), object(18)
memory usage: 4.0+ MB

In [1045]:
df.to_csv("scout_car_cleaned_data.csv", index=False)